@page
@model KampongTalk.Pages.Events.MyEvents.IndexModel
@{
}

@functions {

    public string GetDateString(DateTime dt)
    {
        var renderedDateStr = dt.ToLongDateString();
        return renderedDateStr;
    }

    public bool isOwner(dynamic myEvent)
    {
        if (Model.userId == myEvent.CreatorId)
        {
            return true;
        }
        return false;
    }

}

<div class="tabs is-large">
    <ul>
        <li class="is-active">
            <a href="/Events/MyEvents">Upcoming Events</a>
        </li>
        <li>
            <a href="/Events/MyEvents/PastEvents">Past Events</a>
        </li>
        <li>
            <a href="/Events/MyEvents/MyCreatedEvents">My Events</a>
        </li>
    </ul>
</div>

@if (Model.myUpcomingEvents != null)
{
    @foreach (var myEvent in Model.myUpcomingEvents)
    {
        <a href="/Events/View/@myEvent.Eid">
            @if (isOwner(myEvent))
            {
                <div class="card" style="margin: 1% 5% 1%; background-color: rgba(95, 233, 148, 0.55);">
                    <div class="card-content">
                        <p class="title is-4">@myEvent.Name</p>
                        <p class="subtitle is-6">@GetDateString(myEvent.Date)<br> @myEvent.StartTime - @myEvent.EndTime</p>
                    </div>
                </div>
            }
            else
            {
                <div class="card" style="margin:1% 5% 1%;">
                    <div class="card-content">
                        <p class="title is-4">@myEvent.Name</p>
                        <p class="subtitle is-6">@GetDateString(myEvent.Date)<br> @myEvent.StartTime - @myEvent.EndTime</p>
                    </div>
                </div>
            }
        </a>
    }
}

else
{
    <h1>No upcoming events</h1>
}