@page
@model KampongTalk.Pages.Onboarding.ProfileSettingsModel
@{
}


<link rel="stylesheet" href="/lib/bulma/css/bulma-steps.css">

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column"></div>

            <div class="column is-half">

                <!--Steps-->
                <ul class="steps has-content-centered">
                    <li class="steps-segment">
                        <a href="/Onboarding/Preferences">
                            <span class="steps-marker">1</span>
                            <div class="steps-content">
                                @Model.LangData.onboarding.pref
                            </div>
                        </a>
                    </li>
                    <li class="steps-segment is-active">
                        <span class="steps-marker">2</span>
                        <div class="steps-content">
                            @Model.LangData.onboarding.prof
                        </div>
                    </li>
                    <li class="steps-segment">
                        <span class="steps-marker">3</span>
                        <div class="steps-content">
                            @Model.LangData.onboarding.done
                        </div>
                    </li>
                </ul>

                <div class="has-text-centered mb-3">
                    <h1 class="title is-size-4 mb-1">@Model.LangData.onboarding.profileSettings.customProfile</h1>
                </div>

                <!--from profile modal-->
                <div class="card" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem">
                    <div class="card-content">
                        <div class="has-background-dark card-hero-user" id="card-hero-user">
                            <div class="is-vcentered has-text-centered has-text-white banner-edit is-size-2" onclick="$('#bannerUploadField').trigger('click')">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>
                        <div class="pfp-small" id="pfp-small">
                            <div class="is-vcentered has-text-centered has-text-white pfp-edit is-size-2" onclick="$('#pfpUploadField').trigger('click')">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>
                        @*/Onboarding/ProfileSettings*@
                    <form id="profileEditForm" method="post" enctype="multipart/form-data">
                        <input accept="image/png, image/jpg" type="file" asp-for="ProfileImage" id="pfpUploadField" style="opacity: 0; height: 0; width: 0" />
                        <input accept="image/png, image/jpg" type="file" asp-for="BannerImage" id="bannerUploadField" style="opacity: 0; height: 0; width: 0" />

                        <div class="field">
                            <label class="label">@Model.LangData.onboarding.profileSettings.aboutMe</label>
                            <div class="control">
                                <input class="input" type="text" asp-for="EditBio" style="word-break: break-word;" placeholder="@Model.LangData.onboarding.profileSettings.introYourself">
                            </div>
                        </div>
                        <br />

                        <button class="button is-light mt-3 mb-3" type="button" style="width:49%" onclick="location.href='/Onboarding/Done';">
                            @Model.LangData.onboarding.skip
                        </button>
                        <button class="button is-primary mt-3 mb-3" type="submit" style="width:49%">
                            @Model.LangData.next
                        </button>
                        <br />
                    </form>

                    </div>
                </div>
                <!--from profile modal-->

            </div>

            <div class="column"></div>
        </div>


    </div>
</section>

<script>

    var pfpUploadField = document.getElementById("pfpUploadField")
    pfpUploadField.onchange = function () {
        const [file] = pfpUploadField.files
        if (file) {
            $("#pfp-small").css("background-image", "url(" + URL.createObjectURL(file) + ")");
            $("#pfp-small").css("background-repeat", "no-repeat");
            $("#pfp-small").css("background-position", "center");
            $("#pfp-small").css("background-size", "cover");
        }
    }

    var bannerUploadField = document.getElementById("bannerUploadField")
    bannerUploadField.onchange = function () {
        const [file] = bannerUploadField.files
        if (file) {
            $("#card-hero-user").css("background-image", "url(" + URL.createObjectURL(file) + ")");
            $("#card-hero-user").css("background-repeat", "no-repeat");
            $("#card-hero-user").css("background-position", "center");
            $("#card-hero-user").css("background-size", "cover");
        }
    }

</script>

<script defer>
    if (window.location.hash === '#walkthrough') {
        introJs().start()
    }
</script>

@{
    if (Model.ViewingUser != null)
    {
        <style>
            #profileImage, .pfp-small {
                background: url('/userdata/@Model.ViewingUser.AvatarImg') center no-repeat; background-size: cover
            }

            #profileHeader, .card-hero-user {
                background: url('/userdata/@Model.ViewingUser.BannerImg') center no-repeat; background-size: cover
            }


        </style>

    }
}
