@model IndexModel
@{
}

<div class="modal is-active" id="CreatePostModal" style="display: none;">
    <div class="modal-background" onclick="$('#CreatePostModal').fadeOut('fast');toMainSect();"></div>
    <div class="modal-content">
        <div class="box">

            <form enctype="multipart/form-data" id="createPostForm" method="post">

                <!--START: Main Section-->
                <div id="mainSect">
                    <div class="has-text-right is-size-4 mt-0 p-0">
                        <i class="fas fa-times-circle" onclick="$('#CreatePostModal').fadeOut('fast');toMainSect();" style="cursor: pointer;"></i>
                    </div>
                    <p class="has-text-centered is-size-4 has-text-weight-bold">@Model.LangData.board.createPost.writeNew</p>

                    <!--Content field-->
                    <div class="field mt-2 mb-2 is-relative is-inline-block">
                        <textarea id="contentInput" onkeyup="textCounter(); checkEmpty();" class="textarea is-fullwidth" style="width:600px;" placeholder="@Model.LangData.board.createPost.whatOnYourMind" type="text" asp-for="newPost.Content" maxlength="500"></textarea>
                        <span id="wordCount" style="position:absolute; bottom:5px; right:10px" class="is-size-6 has-text-danger is-hidden"></span>
                    </div>

                    <!--Image preview-->
                    <div id="imgPreviewDiv" class="has-text-centered" style="position: relative; display: none;">
                        <button class="button is-rounded is-danger" type="button" style="right:0; position:absolute;" onclick="removeImg()">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                        <img id="imgPreview" src="#" />
                    </div>

                    <!--hidden inputs-->
                    <input id="communityInput" type="text" asp-for="newPost.InCommunity" hidden>

                    <!--Buttons-->
                    <div class="field is-grouped">

                        <!--Add image button-->
                        <p class="control">
                            <button id="addImgButton" class="button" type="button" onclick="document.getElementById('postImg').click();">
                                <span class="icon">
                                    <i class="fas fa-image"></i>
                                </span>
                                <span>@Model.LangData.board.createPost.addImage</span>
                            </button>
                            <input id="postImg" class="file-input" type="file" accept="image/x-png,image/jpeg, image/png, image/jpg" asp-for="postImg" hidden>
                        </p>

                        <!--Community button-->
                        <p class="control">

                            <span class="tag is-success is-medium is-hidden" id="chosenCommTagMain">
                                <i class="fas fa-times-circle ml-3" style="cursor: pointer;" onclick="removeComm()"></i>
                            </span>

                            <button class="button" type="button" id="getCommsBtn" onclick="showSect('addCommunitySect'); fetchComms()">
                                <span class="icon">
                                    <i class="fas fa-building"></i>
                                </span>
                                <span>@Model.LangData.board.createPost.chooseComm</span>
                            </button>
                        </p>

                    </div>

                    <div class="field is-grouped is-grouped-centered mt-5 mb-5">
                        <button class="button is-fullwidth is-info" id="post_submit" type="submit" value="submit" disabled>@Model.LangData.board.createPost.post</button>
                    </div>
                </div>
                <!-- END: Main Section -->


                <!-- START: Add Communities Section -->
                <div id="addCommunitySect" style="display: none;">

                    <div class="has-text-left is-size-4 mt-0 p-0">
                        <i class="fas fa-arrow-left" onclick="toMainSect()" style="cursor: pointer;"></i>
                    </div>

                    <p class="has-text-centered is-size-4 has-text-weight-bold">@Model.LangData.board.createPost.chooseComm</p>

                    <div id="chosenCommTag" class="has-text-centered is-hidden">
                        @Model.LangData.board.createPost.chosenComm
                        <span class="tag is-success is-medium" id="chosenCommTagText">
                            <i class="fas fa-times-circle ml-3" style="cursor: pointer;" onclick="removeComm()"></i>
                        </span>
                    </div>
                    <br />
                    <!--Add info tooltip-->
                    <!--Search-->
                    <div class="field has-addons has-addons-centered">
                        <div class="control has-icons-left">
                            <input id="communitySearch" class="input" type="text" placeholder="@Model.LangData.board.createPost.findComm">
                            <span class="icon is-left">
                                <i class="fas fa-search" aria-hidden="true"></i>
                            </span>
                        </div>
                        <div class="control">
                            <button class="button is-info" type="button" onclick="searchComms()">
                                @Model.LangData.board.createPost.search
                            </button>
                        </div>
                    </div>

                    <br />
                    <div id="commSearchResults">
                    </div>
                    <div id="suggestedCommsSect">
                        <p class="has-text-centered">@Model.LangData.board.createPost.suggComms</p>
                        <div style="overflow-y: auto; height: 40vh;" class="pl-2 pr-2">
                            <ul id="suggestedComms">
                                <!--Foreach-->
                                @*<hr/>*@
                                <li><hr />@Model.LangData.board.createPost.noSuggComms</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- END: Add Communities Section -->

            </form>

        </div>
    </div>
</div>

<script type="text/javascript">

    postImg.onchange = evt => {
        document.getElementById("imgPreviewDiv").style.display = "block";
        document.getElementById("addImgButton").classList.add("is-link", "is-focused")
        const [file] = postImg.files
        if (file) {
            imgPreview.src = URL.createObjectURL(file)
        }
    }

    function fetchComms() {
        // fetch 5-6 communities
        $.ajax({
            type: "GET",
            url: "/Board/communitylist",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                var suggestedCommsUL = $("#suggestedComms")
                suggestedCommsUL.empty();
                $.each(response, function (i, item) {
                    $("#suggestedComms").append("<li><hr />" + item + '<button class="button is-link is-outlined is-pulled-right commButton" type="button" onclick="selectComms(this)">@Model.LangData.board.createPost.select</button></li>')
                })

            },
            failure: function (response) {
                alert('failed')

            }
        })
    }

    function searchComms() {
        event.preventDefault();
        var commName = document.getElementById("communitySearch").value
        $.ajax({
            type: "GET",
            url: "/Board/searchcommunity",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: {
                commName: commName.toString(),
            },
            success: function (response) {
                var searchResultsDiv = document.getElementById("commSearchResults")

                if (response == "") {
                    searchResultsDiv.innerHTML = "<p class='has-text-centered'>@Model.LangData.board.createPost.noSearchComms</p><br>"
                }
                else {
                    searchResultsDiv.innerHTML = '<p class="has-text-centered">@Model.LangData.board.createPost.searchrs</p>' +
                        "<ul><li><hr />" + response + '<button class="button is-link is-outlined is-pulled-right commButton" type="button" onclick="selectComms(this)">@Model.LangData.board.createPost.select</button></li></ul><br>'
                }
            },
            failure: function (response) {
                console.log('search unsuccessful')

            }
        })
    }

    function selectComms(commLi) {
        $(".commButton").each(function (i, item) {
            item.innerText = "@Model.LangData.board.createPost.select"
            item.classList.add("is-outlined")
        })

        commLi.innerHTML = "@Model.LangData.board.createPost.selected"
        commLi.classList.remove("is-outlined")
        var commName = commLi.parentElement.innerText
        commName = commName.substring(0, commName.length - 9)

        $("#chosenCommTag").removeClass("is-hidden")
        document.getElementById("chosenCommTagText").innerHTML = commName + '<i class="fas fa-times-circle ml-3" style="cursor: pointer;" onclick="removeComm()"></i>'
        document.getElementById("communityInput").value = commName

        $("#chosenCommTagMain").removeClass("is-hidden")
        document.getElementById("chosenCommTagMain").innerHTML = commName + '<i class="fas fa-times-circle ml-3" style="cursor: pointer;" onclick="removeComm()"></i>'
        $("#getCommsBtn").addClass("is-hidden")
    }

    function removeComm() {
        $("#chosenCommTag").addClass("is-hidden")
        $("#chosenCommTagName").innerText = ""

        $(".commButton").each(function (i, item) {
            item.innerText = "@Model.LangData.board.createPost.select"
            item.classList.add("is-outlined")
        })

        $("#communityInput").value = null
        document.getElementById("communityInput").value = null

        $("#chosenCommTagMain").addClass("is-hidden")
        document.getElementById("chosenCommTagMain").innerHTML = ""
        $("#getCommsBtn").removeClass("is-hidden")

    }

    function removeImg() {
        document.getElementById("postImg").value = null;
        imgPreview.src = "#"
        document.getElementById("addImgButton").classList.remove("is-link", "is-focused")
        document.getElementById("imgPreviewDiv").style.display = "none";
    }

    function showSect(newSect) {
        document.getElementById("mainSect").style.display = "none";
        document.getElementById(newSect).style.display = "block";
        document.getElementById("commSearchResults").innerHTML = "";
        document.getElementById("communitySearch").value = ""
    }

    function toMainSect() {
        document.getElementById("mainSect").style.display = "block";
        document.getElementById("addCommunitySect").style.display = "none"
        document.getElementById("tagSect").style.display = "none";
    }

    function textCounter() {
        var counter = document.getElementById("wordCount");
        var contentInput = document.getElementById("contentInput")
        var maxLimit = 500
        if (contentInput.value.length > maxLimit) {
            contentInput.value = contentInput.value.substring(0, maxLimit);
            return false;
        } else {
            if (maxLimit - contentInput.value.length < 100) {
                counter.classList.remove("is-hidden")
                counter.innerText = maxLimit - contentInput.value.length;
            }
            else {
                counter.classList.add("is-hidden")
            }
        }
    }

    function checkEmpty() {
        if ($("#contentInput").val().length != 0) {
            $("#post_submit").attr('disabled', false)
        }
        else {
            $("#post_submit").attr('disabled', true)
        }
    }

</script>