@page "{pid}"

@using KampongTalk.Models
@using KampongTalk.Pages.Board

@model KampongTalk.Pages.Board.DetailModel
@{
    ViewData["currentUid"] = Model.CurrentUser.Uid;
}

<link rel="stylesheet" href="~/css/board.css">

<div class="hero is-fullheight-with-navbar has-background-white-ter" style="overflow-y: auto; height:80vh;">

    <div class="columns is-centered">
        <div class="column is-one-fifth has-text-centered">
            <a href="/Board" class="button is-medium is-fullwidth is-light m-5">
                <i class="fas fa-arrow-left mr-2"></i>Back to Board
            </a>
        </div>
        <div class="column is-three-fifths">

            <div class="box mt-3">

                <div class="userPFP"
                     style="background-image: url('/userdata/@Model.author.AvatarImg')">

                </div>
                <div class="postPriInfo">
                    <span class="has-text-weight-bold is-size-5">@Model.author.Name</span><span class="is-size-6 has-text-grey ml-2" style="margin-top: -1.5rem">&#64;@Model.author.Uid2</span>
                    @if (Model.thisPost.InCommunity != null)
                    {
                        <p style="line-height: 60%;">
                            <span class="minorInfo" id="InCommunitySpan"> In <a href="/Community?c=@Model.thisPost.InCommunity">@CommunityApi.GetCommunityById(@Model.thisPost.InCommunity).Name</a></span>
                        </p>
                    }
                </div>

                <p class="mt-3 is-size-5">
                    @Model.thisPost.Content
                </p>

                <button class="button" onclick="translateText(this)">
                    <i class="fas fa-language"></i>
                </button>

                <button class="button" onclick="synthesizeSpeech(this)">
                    <i class="fas fa-volume-up"></i>
                </button>

                <audio id="audio" controls hidden>
                    <source type="audio/mp3">
                </audio>

                <br />

                @if (Model.thisPost.AttachmentImg != null)
                {
                    <br />
                    <img id="attachmentImg" class="postImg has-text-centered" src="~/imgs/@Model.thisPost.AttachmentImg" onclick="expandImg(this)" />
                }
                <div class="has-text-grey-light minorInfo mt-2">
                    <span>@Model.thisPost.Timestamp.ToString("dd/MM/yy hh:mm tt")</span>
                </div>

            </div>

            <div class="box">
                <p class="has-text-weight-bold is-size-4">Replies</p>

                <form asp-page-handler="comment" method="post" enctype="multipart/form-data">

                    <div class="field has-addons">
                        <div class="control is-expanded has-icons-left">
                            <input class="input" type="text" asp-for="newComment.Content" placeholder="Reply to post..." />
                            <span class="icon is-small is-left">
                                <i class="fas fa-comment-dots mr-2"></i>
                            </span>
                        </div>
                        <input asp-for="newComment.IsComment" value="@Model.thisPost.Pid" class="is-hidden" />
                        <div class="control">
                            <button class="button is-primary" type="submit">Send Reply</button>
                        </div>
                    </div>
                </form>

                @foreach (var comment in Model.commentList.Reverse())
                {
                    <hr class="m-1" />
                    <article class="media p-2">
                        <figure class="media-left">
                            <div class="userPFP"
                                 style="background-image: url('/userdata/@comment.UserPfp')">
                            </div>
                        </figure>
                        <div class="media-content">
                            <div class="content is-size-6">
                                <p>
                                    <strong>@comment.UserName</strong><span class="is-size-6 has-text-grey ml-2" style="margin-top: -1.5rem">&#64;@Model.author.Uid2</span>
                                    <br>
                                    @comment.Content
                                    <br>
                                    <small class="has-text-grey-light">@comment.Timestamp.ToString("dd/MM/yy hh:mm tt")</small>
                                    @*<small class="has-text-grey-light">@comment.Timestamp.ToString("dd/MM/yy hh:mm tt")</small>*@
                                </p>
                            </div>
                        </div>
                        <figure class="media-right">

                            <!--insert form here-->
                            <button class="button is-medium is-rounded is-danger is-outlined" type="button" onclick="likePost(this)">
                                @if (LikesApi.IsLiked(@comment.Pid, Convert.ToInt64(ViewData["currentUid"])))
                                {
                                    <span><i class="fas fa-thumbs-up"></i></span>
                                }
                                else
                                {
                                    <span><i class="far fa-thumbs-up"></i></span>
                                }
                                <span class="ml-2">@LikesApi.GetLikesByPid(@comment.Pid)</span>
                                <span class="tag is-link is-hidden">@comment.Pid</span>
                            </button>

                        </figure>
                    </article>
                }

                @if (!Model.commentList.Any())
                {
                    <p class="has-text-centered">No comments have been left on this post.</p>
                }
            </div>

            <br />
        </div>
        <div class="column is-one-fifth"></div>
    </div>

</div>

<!--Image modal-->
<div class="modal is-active" id="ImageModal" style="display: none;">
    <div class="modal-background" onclick="$('#ImageModal').fadeOut('fast');toMainSect();"></div>
    <br />
    <div class="modal-content mt-6">
        <div class="box has-text-centered">
            <img id="imgInModal" />
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="$('#ImageModal').fadeOut('fast');toMainSect();"></button>
</div>



<script>
    function likePost(likeBtn) {
        var postSpan = likeBtn.children[2]
        var Pid = postSpan.innerText
        $.ajax({
            type: "POST",
            url: "/Board/like",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: {
                EntityId: Pid
            },
            success: function (likeResp) {
                var likeRespArr = likeResp.toString().split(",")
                if (likeRespArr[0] == '1') {
                    //likeBtn.classList.remove('is-outlined')
                    likeBtn.firstElementChild.innerHTML = '<i class="fas fa-thumbs-up"></i>';
                }
                else {
                    //likeBtn.classList.add('is-outlined')
                    likeBtn.firstElementChild.innerHTML = '<i class="far fa-thumbs-up"></i>';
                }
                likeBtn.children[1].innerText = likeRespArr[1]
                //likeBtn.lastElementChild.innerHTML = likeRespArr[1]

            },
            error: function () {
                return "error";
            }

        })
    }

    function expandImg(img) {
        var imgSrc = img.src
        document.getElementById("ImageModal").style.display = "block"
        document.getElementById("imgInModal").src = imgSrc
    }
</script>

