@page
@model KampongTalk.Pages.Events.IndexModel
@{
}
<link rel="stylesheet" href="~/css/event.css">

@if (Model.allEvents != null)
{
    <main id="index-section" class="section" data-title="Welcome to Events" data-intro="Looking for a way to pass the time? Browse and create engaging events here.">
        <div class="container market-listing-container">
            <span class="has-text-weight-bold is-size-2 mb-6" data-intro="Explore all the fun events KampongTalk has to offer.">@Model.LangData.events.index.explore</span>

            <a href="/Events/Create" class="button is-medium is-info is-pulled-right mr-4"
               data-title="Create an Event" data-intro="Here you can create and host your own events."> @Model.LangData.events.index.create </a>
            <a href="/Events/MyEvents" class="button is-medium is-info is-pulled-right mr-4"
                data-title="My Events" data-intro="Here you can view the events you signed up for, past events, and the events you created.">@Model.LangData.events.index.my</a>
            <br /><br />

            <div class="columns is-multiline is-variable is-5" id="displayedListings">
                @foreach (var myEvent in Model.allEvents)
                {
                    <div class="column is-one-quarter">
                        <a class="listing-clickable" href='/Events/View/@myEvent.Eid'>
                            <div class="box listing-image" style='background-image: url("imgs/Events/@myEvent.Img")'>
                                <div>
                                    <p class="content has-text-white">
                                        @myEvent.Description
                                    </p>
                                </div>
                            </div>
                            <h3 class="title">@myEvent.Name</h3>
                        </a>
                    </div>
                }
            </div>
        </div>
    </main>
}
else
{
    <h1>There are no events now</h1>
}


<script defer>
    setTimeout(function () {
        if (window.location.hash === '#walkthrough') {
            introJs().start()
        }
    }, 10);
</script>