@page "{eid}"
@model KampongTalk.Pages.Events.ViewModel
@{
}

@section Scripts {
    @if (Model.amOwner)
    {
        <script>
            $("#renderImage").on('click', () => {
                $("input[name=eventImage]").click()
            })

            $("input[name=eventImage]").on('change', () => {
                console.log("Changed")
                $("#editImageForm").submit()
            })
        </script>
    }
}

@if (Model.isOver)
{
    <div class="section">
        <article class="message is-danger">
            <div class="message-header">
                <p>Read Only</p>

            </div>
            <div class="message-body">
                This event is archived
            </div>
        </article>
    </div>

    <div class="section">
        <div class="columns is-vcentered">
            <div class="column is-8">
                <figure class="has-text-centered">
                    <img src="~/imgs/@Model.myEvent.Img"/>
                </figure>
            </div>

            <div class="column is-4">
                <div class="content">
                    <h1 class="title is-size-3">@Model.myEvent.Name</h1>
                    <p class="subtitle is-size-7">Organized By: <a href="/Profile?u=@Model.OwnerUser.Uid2">@Model.OwnerUser.Name</a></p>
                    <br/>

                    <p>Date: @Model.eventDate</p>
                    <p>Duration: @Model.myEvent.Duration Hours</p>
                    <p>Time: @Model.myEvent.StartTime - @Model.myEvent.EndTime</p>
                    <p>Held At: <a target="_blank" href="@Model.myEvent.Location">@Model.myEvent.Location</a></p>
                    <p>@Model.myEvent.Description</p>
                </div>
            </div>
        </div>
    </div>
}

// If event is not archived (Not over yet)
else
{
    <div class="section">
        <div class="columns is-vcentered">
            @if (Model.amOwner)
            {
                <partial name="Partials/_EditableImg"/>
            }
            else
            {
                <div class="column is-8">
                    <figure class="has-text-centered">
                        <img src="~/imgs/@Model.myEvent.Img"/>
                    </figure>
                </div>
            }


            <div class="column is-4">
                <div class="content">
                    <h1 class="title is-size-3">@Model.myEvent.Name</h1>
                    <p class="subtitle is-size-7">Organized By: <a href="/Profile?u=@Model.OwnerUser.Uid2">@Model.OwnerUser.Name</a></p>
                    <br/>

                    <p>Date: @Model.eventDate</p>
                    <p>Duration: @Model.myEvent.Duration Hours</p>
                    <p>Time: @Model.myEvent.StartTime - @Model.myEvent.EndTime</p>
                    <p>Held At: <a target="_blank" href="@Model.myEvent.Location">@Model.myEvent.Location</a></p>
                    <p>@Model.myEvent.Description</p>
                </div>

                @if (Model.amOwner)
                {
                    <a href="/Events/Edit/@Model.myEvent.Eid" class="button is-warning">
                        <span class="icon">
                            <i class="fas fa-wrench"></i>
                        </span>
                        <span>Edit</span>
                    </a>
                }
                else
                {
                    <form asp-page-handler="AddOrRemove">
                        @if (!Model.hasAdded)
                        {
                            <button class="button is-success">
                                <span class="icon">
                                    <i class="fas fa-plus"></i>
                                </span>
                                <span>I'm Attending</span>
                            </button>
                        }
                        else
                        {
                            <button class="button is-danger">
                                <span class="icon">
                                    <i class="fas fa-minus"></i>
                                </span>
                                <span>Remove</span>
                            </button>
                        }
                        <input type="hidden" asp-for="@Model.Eid" value="@Model.Eid"/>
                    </form>
                }
            </div>
        </div>
    </div>
}