@page
@using KampongTalk.Models
@model KampongTalk.Pages.Search.Index

@{
    ViewData["Title"] = "Search";
    ViewData["SearchField"] = Model.SearchField;
}

<style>
.community-icon-search {
            height: 5rem;
            width: 5rem;
            background: grey; 
            border: .35rem solid white;
            border-radius: 2.25rem;
            margin-top: -3.5rem;
            margin-bottom: 1rem;
    }
    
    .card-hero {
        background: grey;
        width: 19rem;
        height: 4em;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        margin: -1.5rem -1.5rem 1.5rem;
    }
    
.pfp-post {
        height: 3rem;
        width: 3rem;
        border: .2rem solid white;
        border-radius: 9999rem;
        margin-top: -.5rem;
        margin-bottom: -.75rem;
    }
    
        .card-top {
            padding: 1.5rem 1.5rem 0;
            background: linear-gradient(180deg, rgba(72,136,149,0.4) 15%, rgba(255,255,255,0.4) 100%);
        }
        
        .card-meta {
            padding: 1rem 1.5rem 0;
            background:rgba(72,136,149,0.4)
        }
        
        .card-meta + .card-top {
            padding-top: 1.5rem;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
        
        .communities-container {
        height: 19rem;
            overflow-x: auto;
            display: flex;
            }
            
            .communities-container > * {
                display: inline-block;
                flex-shrink: 0;
            }
</style>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">

                @{
                    var numberOfUsers = Model.SearchResultUsers.Count;
                    if (numberOfUsers == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-user"></i>&ensp;Users — 0 results</h2>
                        <p>No users found</p>
                        <small class="has-text-grey">If you have the KampongID of the user you are looking for, type @@ followed by the KampongID in the search, to go directly to the user's profile.</small>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-user"></i>&ensp;Users — @numberOfUsers result(s)</h2>
                        foreach (var user in Model.SearchResultUsers.Take(5))
                        {
                            <a href="/Profile?u=@user.Uid2">
                                <div class="box">
                                    <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <div class="pfp-post"></div>
                                            </div>
                                            <div class="level-item">
                                                <div>
                                                    <p class="title is-5">
                                                        @user.Name
                                                        <span class="is-size-6 has-text-grey">&#64;@user.Uid2</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    }
                }
                
                <hr/>
                
                @{
                    var numberOfEvents = Model.SearchResultEvents.Count;
                    if (numberOfEvents == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-user"></i>&ensp;Events — 0 results</h2>
                        <p>No events found</p>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-campground"></i>&ensp;Events — @numberOfEvents result(s)</h2>
                        foreach (var eventObj in Model.SearchResultEvents.Take(5))
                        {
                            <a href="/Events/View/@eventObj.Eid">
                                <div class="box">
                                    <p>@eventObj.Name</p>
                                </div>
                            </a>
                        }
                    }
                }
                
            </div>
            <div class="column">
                @{
                    if (Model.SearchResultCommunities.Count == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-users"></i>&ensp;Communities <span class="has-text-weight-normal">— No relevant results</span></h2>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-users"></i>&ensp;Communities</h2>
                        <div class="communities-container">
                            @foreach (var community in Model.SearchResultCommunities.Take(6))
                            {
                                <a href="/Community?c=@community.Cid" class="mr-3 m-4">
                                    <div class="card card-new-community" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem; width: 19rem; height: 100%">
                                        <div class="card-content">
                                            <div class="has-background-dark card-hero"></div>
                                            <div class="community-icon-search"></div>
                                            <div class="field">
                                                <p class="title is-4">@community.Name</p>
                                                <p class="subtitle is-6">@Index.TrimIfTooLong(community.Description)</p>
                                            </div>

                                            @* <div class="field"> *@
                                            @*     <label class="label">About this community</label> *@
                                            @*     <div class="control"> *@
                                            @*         <textarea class="textarea" rows="5" placeholder="A community where flower lovers can interact. Share pictures of your garden or flowers!" asp-for="NewCommunity.Description" required minlength="20" maxlength="254"></textarea> *@
                                            @*     </div> *@
                                            @*     <small class="has-text-grey">Be descriptive as possible so that more people can find your community.</small> *@
                                            @* </div> *@
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                }
                <hr/>

                @{
                    if (Model.SearchResultPosts.Count == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-sticky-note"></i>&ensp;Posts <span class="has-text-weight-normal">— No relevant results</span></h2>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-sticky-note"></i>&ensp;Posts</h2>
                        foreach (var post in Model.SearchResultPosts)
                        {
                            <div class="card mt-4">
                                @{
                                    if (post.InCommunity != null)
                                    {
                                        <div class="card-content card-meta">
                                            <p class="has-text-weight-medium"><i class="fas fa-arrow-right"></i>&ensp;Posted in <a href="/Community?c=@post.InCommunity" class="has-text-weight-bold has-text-black">@CommunityApi.GetCommunityById(post.InCommunity).Name</a></p>
                                        </div>
                                    }
                                }
                                <div class="card-content card-top">
                                    <a href="/Profile?u=@UserApi.GetUserById(post.Author).Uid2">
                                        <div class="level">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <div class="pfp-post"></div>
                                                </div>
                                                <div class="level-item">
                                                    <div>
                                                        <p class="title is-5">
                                                            @UserApi.GetUserById(post.Author).Name
                                                            <span class="is-size-6 has-text-grey" style="margin-top: -1.5rem">&#64;@UserApi.GetUserById(post.Author).Uid2</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="is-size-5">@post.Content</p>
                                </div>
                                <div class="card-content has-background-light">
                                    <div class="level is-mobile">
                                        <div class="level-left">
                                            <a class="level-item">
                                                <div class="tags has-addons">
                                                    <span class="tag is-primary"><i class="fas fa-thumbs-up"></i>&ensp; Like</span>
                                                    <span class="tag is-dark">100</span>
                                                </div>
                                            </a>
                                            <a class="level-item">
                                                <div class="tags has-addons">
                                                    <span class="tag is-info"><i class="fas fa-comments"></i>&ensp; Reply</span>
                                                    <span class="tag is-dark">69</span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>