@page
@using KampongTalk.Models
@model KampongTalk.Pages.Search.Index

@{
    ViewData["Title"] = "Search";
    ViewData["SearchField"] = Model.SearchField;
}

<section class="section">
    <div class="container">
        <div class="columns is-variable is-4">
            <div class="column is-one-quarter">

                @{
                    var numberOfUsers = Model.SearchResultUsers.Count;
                    if (numberOfUsers == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-user"></i>&ensp;Users — 0 results</h2>
                        <p>No users found</p>
                        <small class="has-text-grey">If you have the KampongID of the user you are looking for, type @@ followed by the KampongID in the search, to go directly to the user's profile.</small>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-user"></i>&ensp;Users — @numberOfUsers result(s)</h2>
                        foreach (var user in Model.SearchResultUsers.Take(5))
                        {
                            <a href="/Profile?u=@user.Uid2">
                                <div class="box mb-3">
                                    <div class="level">
                                        <div class="level-left">
                                            <div class="level-item">
                                                <div class="pfp-post" style="background: url('/userdata/@user.AvatarImg') center no-repeat; background-size: cover"></div>
                                            </div>
                                            <div class="level-item">
                                                <div>
                                                    <p class="title is-5" style="overflow-wrap: break-word; hyphens: auto;">
                                                        @user.Name
                                                        
                                                    </p>
                                                    <p class="subtitle mt-0 has-text-grey is-6">&#64;@user.Uid2</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        }

                        if (Model.SearchResultUsers.Count > 5)
                        {
                            <a class="has-text-grey" onclick="$('#viewMore-users').fadeIn('fast')"><i class="fa-solid fa-arrow-right"></i>&ensp;View more</a>
                        }
                    }
                }

                <hr/>

                @{
                    var numberOfEvents = Model.SearchResultEvents.Count;
                    if (numberOfEvents == 0)
                    {
                        <h2 class="title is-5"><i class="fa-solid fa-calendar-week"></i>&ensp;Events — 0 results</h2>
                        <p>No events found</p>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fa-solid fa-calendar-week"></i>&ensp;Events — @numberOfEvents result(s)</h2>
                        foreach (var eventObj in Model.SearchResultEvents.Take(5))
                        {
                            <a href="/Events/View/@eventObj.Eid">
                                <div class="box mb-2">
                                    <p>@eventObj.Name</p>
                                </div>
                            </a>
                        }
                        
                        if (Model.SearchResultUsers.Count > 5)
                        {
                            <a class="has-text-grey" onclick="$('#viewMore-events').fadeIn('fast')"><i class="fa-solid fa-arrow-right"></i>&ensp;View more</a>
                        }
                    }
                }

            </div>
            <div class="column is-three-quarters">
                @{
                    if (Model.SearchResultCommunities.Count == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-users"></i>&ensp;Communities <span class="has-text-weight-normal">— No relevant results</span></h2>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-users"></i>&ensp;Communities</h2>
                        <div class="communities-container">
                            @foreach (var community in Model.SearchResultCommunities)
                            {
                                <a href="/Community?c=@community.Cid" class="mr-3 m-4">
                                    <div class="card card-new-community" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem; width: 19rem; height: 100%">
                                        <div class="card-content">
                                            <div id="card-community-@community.Cid" class="card-hero-community"></div>
                                            <div class="community-icon-search" style="background: url('/userdata/communities/@community.IconImg') center no-repeat; background-size: cover"></div>
                                            <div class="field mt-3">
                                                <p class="title is-4">@community.Name</p>
                                                <p class="subtitle is-6">@Index.TrimIfTooLong(community.Description)</p>
                                            </div>
                                            
                                            <script>
                                            Vibrant.from('/userdata/communities/@community.IconImg').getPalette((err, palette) => {
                                                            $('#card-community-@community.Cid').css({ 'background': `rgb(${palette.DarkMuted._rgb})` })
                                                        });
                                            </script>
                                        </div>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                }
                <hr/>

                @{
                    if (Model.SearchResultPosts.Count == 0)
                    {
                        <h2 class="title is-5"><i class="fas fa-sticky-note"></i>&ensp;Posts <span class="has-text-weight-normal">— No relevant results</span></h2>
                    }
                    else
                    {
                        <h2 class="title is-5"><i class="fas fa-sticky-note"></i>&ensp;Posts</h2>
                        foreach (var post in Model.SearchResultPosts)
                        {
                            <partial name="Partials/_Post" model="post" view-data="ViewData"/>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>

<div id="viewMore-users" class="modal is-active" style="display: none">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content has-background-light">
                <p class="title is-4"><i class="fas fa-user"></i>&ensp;Users</p>
                <p class="subtitle is-6">Showing @Model.SearchResultUsers.Count users</p>
            </div>
            <div class="card-content">
                @foreach (var user in Model.SearchResultUsers)
                {
                    <a href="/Profile?u=@user.Uid2" class="view-more-item">
                        <div class="pt-4 pb-4">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <div class="pfp-post" style="background: url('/userdata/@user.AvatarImg') center no-repeat; background-size: cover"></div>
                                    </div>
                                    <div class="level-item">
                                        <div>
                                            <p class="title is-5" style="overflow-wrap: break-word; hyphens: auto;">
                                                @user.Name
                                                <span class="is-size-6 has-text-grey">&#64;@user.Uid2</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <button onclick="$('#viewMore-users').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
</div>

<div id="viewMore-events" class="modal is-active" style="display: none">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content has-background-light">
                <p class="title is-4"><i class="fa-solid fa-calendar-week"></i>&ensp;Events</p>
                <p class="subtitle is-6">Showing @Model.SearchResultUsers.Count events</p>
            </div>
            <div class="card-content">
                @foreach (var eventObj in Model.SearchResultEvents)
                {
                    <a href="/Events/View/@eventObj.Eid">
                        <div class="box mb-2">
                            <p>@eventObj.Name</p>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
    <button onclick="$('#viewMore-events').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
</div>