@page
@model KampongTalk.Pages.Accounts.Login

@{
    ViewData["Title"] = "Login";
}

<style>
    #authSection {
        max-width: 600px;
        margin: 0 auto;
    }
</style>
<section id="authSection" class="section">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">@Model.LangData.accounts.login.kampongTalkAccount</h1>
            <p class="subtitle">@Model.LangData.accounts.login.loginToAccount</p>
        </div>
        <br/>

        <form method="post">
            <div class="field">
                <label class="label">@Model.LangData.accounts.phoneNumber</label>
                <div class="control has-icons-left">
                    <input class="input @Model.FieldClass" type="tel" placeholder="91234567" maxlength="8" asp-for="LoginPhoneNumber" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">@Model.LangData.accounts.password</label>
                <div class="control has-icons-left">
                    <input class="input @Model.FieldClass" type="password" placeholder="••••••••" asp-for="LoginPassword" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>

            @{
                if (Model.ShowErrorMessage)
                {
                    <div id="wrongPassError" class="notification is-danger is-light">
                        <button onclick="$('#wrongPassError').slideUp()" class="delete"></button>
                        @Model.LangData.accounts.login.wrongPassword<br/>
                        <a href="/Accounts/Recover">@Model.LangData.accounts.login.forgottenPasswordLink</a>
                    </div>
                }
            }
            <button class="button is-primary" type="submit"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.login</button>
        </form>
    </div>
</section>