@page
@model KampongTalk.Pages.Accounts.VerifyReset

@{
    ViewData["Title"] = "Recover Account";
}

<style>
    #registerSection {
        max-width: 600px;
        margin: 0 auto;
    }
</style>

<section id="registerSection" class="section is-medium">
    <div class="has-text-centered">
        <h1 class="title">Recover your account</h1>
        <p class="subtitle">Reset your forgotten password</p>
    </div>
    <br/>
    
    <div>
        <p class="title is-2 has-text-centered">
            <i class="fas fa-mobile-alt"></i>
        </p>
        <p class="subtitle is-6 has-text-centered"><strong class="has-text-weight-bold">@Model.LangData.accounts.verify.checkPhone</strong><br/>@Model.LangData.accounts.verify.sentCode@Model.PhoneNumber.</p>
    </div>

    <div class="has-text-centered is-size-1 mt-4 mb-4 has-text-grey-light">
        <i class="fas fa-arrow-down"></i>
    </div>

    <form method="post">
        <input value="VerifyOTP" type="hidden"/>
        <div class="box">
            <div class="field">
                <label class="label">New Password</label>
                <div class="control has-icons-left">
                    <input class="input @Model.PasswordInputClass" type="password" placeholder="••••••••" asp-for="NewUserPassword" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <small class="has-text-grey">@Html.Raw(Model.PasswordWarn)</small>
            </div>
            
            <div class="field">
                <label class="label">@Model.LangData.accounts.otp</label>
                <div class="control has-icons-left">
                    <input class="input @Model.OtpInputClass" type="text" placeholder="000000" asp-for="IncomingOtpCode" maxlength="6" minlength="6" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-comment-dots"></i>
                    </span>
                </div>
                <small class="has-text-danger">@Html.Raw(Model.OtpCodeWarn)</small>
            </div>
        </div>
        <br/>
        <div class="has-text-centered">
            <button class="button is-primary" type="submit"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.next</button>
        </div>
    </form>
</section>