@page
@model KampongTalk.Pages.Profile.Index

@{
    if (Model.ViewingUser != null)
    {
        ViewData["Title"] = Model.ViewingUser.Name;
        ViewData["SearchField"] = "@" + Model.ViewingUser.Uid2;
    }
    else
    {
        ViewData["Title"] = "404: User not found";
    }

    // ViewData["currentUid"] = Model.CurrentUser.Uid;
}

<section id="profileHeader" class="hero is-medium has-background-primary-dark is-dark">
    <div class="hero-body">
        <div class="container">
            <div id="profileImage" class="pfp"></div>
        </div>
    </div>
</section>

@{
    if (!Model.ShowUserNotFoundError)
    {
        <section class="section">
            <div class="container">
                <div class="columns mt-5">
                    <div class="column is-one-quarter">
                        <div>
                            <h1 class="title is-1 has-text-black">@Model.ViewingUser.Name</h1>
                            <p class="subtitle has-text-page-color-light">&#64;@Model.ViewingUser.Uid2</p>
                            <br/>
                            <div class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">Friends</p>
                                        <p class="title">@Model.FriendCount</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">Posts</p>
                                        <p class="title">@Model.PostCount</p>
                                    </div>
                                </div>
                            </div>
                            <p class="has-text-centered">
                                @{
                                    if (Model.IsCurrentUserOwnPage)
                                    {
                                        <a class="has-text-grey" onclick="$('#editProfileModal').fadeIn('fast')"><i class="fas fa-user-edit"></i>&ensp;Edit Profile</a>
                                    }
                                    else
                                    {
                                        <form method="post" class="has-text-centered">
                                            
                                            <input type="hidden" asp-for="FriendActionOtherUid" value="@Model.ViewingUser.Uid" />

                                            @if (Model.FriendActionToDisplay == "SHOW_ADD")
                                            {
                                                <div>
                                                    <input type="hidden" asp-for="FriendAction" value="ADD"/>
                                                    <button class="button is-success"><i class="fa-solid fa-user-plus"></i>&ensp;Send friend request</button>
                                                </div>
                                            }

                                            @if (Model.FriendActionToDisplay == "SHOW_PENDING_ACCEPTABLE")
                                            {
                                                <div>
                                                    <input type="hidden" asp-for="FriendAction" value="ADD"/>
                                                    <button class="button is-success"><i class="fa-solid fa-check"></i>&ensp;Accept friend request</button>
                                                </div>
                                            }

                                            @if (Model.FriendActionToDisplay == "SHOW_PENDING")
                                            {
                                                <div>
                                                    <input type="hidden" asp-for="FriendAction" value="CANCEL_REQ"/>
                                                    <a id="pendingBtn" class="button is-success is-light"><i class="fa-solid fa-spinner fa-pulse"></i>&ensp;Friend request pending</a>
                                                    <button id="undoReqBtn" class="button is-danger is-light" style="display: none"><i class="fa-solid fa-xmark"></i>&ensp;Click again to undo request</button>
                                                </div>
                                            }

                                            @if (Model.FriendActionToDisplay == "SHOW_ADDED")
                                            {
                                                <div>
                                                    <input type="hidden" asp-for="FriendAction" value="REMOVE_FRIEND"/>
                                                    <a id="addedBtn" class="button is-light"><i class="fa-solid fa-user-group"></i>&ensp;Added as friend</a>
                                                    <button id="removeBtn" class="button is-danger" style="display: none"><i class="fa-solid fa-user-times"></i>&ensp;Click again to remove friend</button>
                                                </div>
                                            }
                                        </form>
                                        
                                        <script>
                                            $('#pendingBtn')
                                            .on('click', () => {
                                                $('#pendingBtn').hide()
                                                $('#undoReqBtn').show().focus()
                                            })
                                            
                                            $('#undoReqBtn')
                                            .on('focusout', () => {
                                                $('#pendingBtn').show()
                                                $('#undoReqBtn').hide()
                                            })
                                        </script>
                                        
                                        <script>
                                            $('#addedBtn')
                                            .on('click', () => {
                                                $('#addedBtn').hide()
                                                $('#removeBtn').show().focus()
                                            })
                                            
                                            $('#removeBtn')
                                            .on('focusout', () => {
                                                $('#addedBtn').show()
                                                $('#removeBtn').hide()
                                            })
                                        </script>
                                    }
                                }
                            </p>
                        </div>
                        <hr/>
                        @{
                            if (Model.ViewingUser.Bio != null)
                            {
                                <div>
                                    <h3 class="title is-5 has-text-page-color">About me</h3>
                                    <p style="hyphens: auto; overflow-wrap: break-word">@Model.ViewingUser.Bio</p>
                                </div>
                                <hr/>
                            }
                        }
                        <div>
                            <div class="level">
                                <div class="level-item-left has-text-centered">
                                    <div>
                                        <h3 class="title is-5 has-text-page-color">Joined</h3>
                                    </div>
                                </div>
                                <div class="level-item-right has-text-centered">
                                    <div>
                                        <p class="is-size-6">@Model.JoinDate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-three-quarters">
                        @{
                            if (!Model.PostsToDisplay.Any())
                            {
                                <section class="section is-medium">
                                    <div class="container has-text-centered">
                                        <p class="title">
                                            <i class="fas fa-feather-alt"></i>
                                        </p>
                                        <h1 class="subtitle is-4 has-text-weight-bold has-text-page-color">Hmm, there's nothing here</h1>
                                        <p>This user has not created any posts</p>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <h2 class="title is-5">Recent posts by this user</h2>
                                foreach (var post in Model.PostsToDisplay.Reverse())
                                {
                                    <partial name="Partials/_Post" model="post" view-data="ViewData"/>
                                }
                                <div class="mt-6 has-text-centered">
                                    @if (Model.PageNo != 0)
                                    {
                                        <a class="button" href="?u=@Model.ViewingUser.Uid2&p=@Model.PreviousPageNo"><i class="fa-solid fa-arrow-left"></i>&ensp;Previous Page</a>
                                    }
                                    @if (Model.PostsToDisplay.Count() == 10)
                                    {
                                        <a class="button" href="?u=@Model.ViewingUser.Uid2&p=@Model.NextPageNo">Next Page&ensp;<i class="fa-solid fa-arrow-right"></i></a>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>

        <div id="editProfileModal" class="modal is-active" style="display: none">
            <div class="modal-background"></div>
            <button onclick="$('#editProfileModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
            <div class="modal-content">
                <div class="card" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem">
                    <div class="card-content">
                        <div class="has-background-dark card-hero-user">
                            <div class="is-vcentered has-text-centered has-text-white banner-edit is-size-2" onclick="$('#bannerUploadField').trigger('click')">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>
                        <div class="pfp-small">
                            <div class="is-vcentered has-text-centered has-text-white pfp-edit is-size-2" onclick="$('#pfpUploadField').trigger('click')">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>

                        <form id="profileEditForm" method="post" enctype="multipart/form-data">
                            <input accept="image/png, image/jpg" type="file" asp-for="ProfileImage" id="pfpUploadField" style="opacity: 0; height: 0; width: 0"/>
                            <input accept="image/png, image/jpg" type="file" asp-for="BannerImage" id="bannerUploadField" style="opacity: 0; height: 0; width: 0"/>
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="John Doe" value="@Model.ViewingUser.Name" asp-for="EditName" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">KampongID</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" value="@Model.ViewingUser.Uid2" disabled>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-at"></i>
                                    </span>
                                </div>
                            </div>
                            <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;For security reasons, please visit <a>account settings</a> to change your KampongID.</small>

                            <hr/>

                            <div class="field">
                                <label class="label">About me</label>
                                <div class="control">
                                    <input class="input" type="text" value="@Model.ViewingUser.Bio" asp-for="EditBio" style="word-break: break-word;">
                                </div>
                            </div>

                            <hr/>

                            <div class="field">
                                <label class="label">Birthday</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="date" asp-for="EditBirthday">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-birthday-cake"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="buttons">
                                <button class="mt-5 button is-primary" type="submit"><i class="fas fa-save"></i>&ensp;Save changes</button>
                            </span>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="~/js/Board.js"></script>
    }
    else
    {
        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title">
                    <i class="fas fa-question-circle"></i>
                </p>
                <h1 class="subtitle is-4 has-text-weight-bold">We searched high and low, but we weren't able to find this account.</h1>
                <p>The user may have changed their user tag, deleted their account, or the user simply didn't exist to begin with.<br/>Please ensure that you did not make any typing mistakes.</p>
            </div>
        </section>
    }
}

<script>
    $("#pfpUploadField").on('change', () => {
        $("#profileEditForm").submit()
    })
    $("#bannerUploadField").on('change', () => {
        $("#profileEditForm").submit()
    })
</script>

@{
    if (Model.ViewingUser != null)
    {
        <style>
            #profileImage, .pfp-small {
                background: url('/userdata/@Model.ViewingUser.AvatarImg') center no-repeat; background-size: cover
            }
            
            #profileHeader, .card-hero-user {
                background: url('/userdata/@Model.ViewingUser.BannerImg') center no-repeat; background-size: cover
            }
            
            .has-text-page-color {
                color: rgb(var(--page-theme-color));
            }
            
            .has-text-page-color-light {
                color: rgb(var(--page-theme-color-light));
            }
            
        </style>

        <script>
            Vibrant.from('/userdata/@Model.ViewingUser.BannerImg').getPalette((err, palette) => {
                $('nav.navbar').css({ 'background-color': `rgb(${palette.DarkMuted._rgb})` })
                $(':root').css({ '--page-theme-color': `${palette.DarkMuted._rgb}`, '--page-theme-color-light': `${palette.Muted._rgb}` })
            });
        </script>
    }
}