@page
@model KampongTalk.Pages.Profile.Index

@{
    ViewData["Title"] = "";
}

<style>
    .pfp {
        height: 12rem;
        width: 12rem;
        background: grey; 
        border: .7rem solid white;
        border-radius: 9999rem;
        position: absolute;
    }
    
    .pfp-small {
            height: 8rem;
            width: 8rem;
            background: grey; 
            border: .5rem solid white;
            border-radius: 9999rem;
            margin-top: -5rem;
    }
    
    .pfp-post {
        height: 3rem;
        width: 3rem;
        border: .2rem solid white;
        border-radius: 9999rem;
        margin-top: -.5rem;
        margin-bottom: -.75rem;
    }
    
    .card-hero {
        background: grey;
        width: 640px;
        height: 8em;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        margin: -1.5rem -1.5rem 1.5rem;
    }
    
    .card-top > * {
        vertical-align:middle;
        display: inline-block;
    }
    
    .card-top {
        padding: 0.8rem 1.5rem;
    }
</style>

<section class="hero is-medium has-background-grey is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="pfp"></div>
        </div>
    </div>
</section>


@{
    if (!Model.ShowUserNotFoundError)
    {
        <section class="section">
            <div class="container">
                <div class="columns mt-5">
                    <div class="column is-one-quarter">
                        <div>
                            <h1 class="title is-1">@Model.ViewingUser.Name</h1>
                            <p class="subtitle">&#64;@Model.ViewingUser.Uid2</p>
                            <br/>
                            <div class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">Friends</p>
                                        <p class="title">69</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">Likes</p>
                                        <p class="title">420</p>
                                    </div>
                                </div>
                                @{
                                    if (Model.IsCurrentUserOwnPage)
                                    {
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <a class="button is-black is-outlined" onclick="$('#editProfileModal').fadeIn('fast')">Edit Profile</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <a class="has-text-grey"><i class="fas fa-arrow-right"></i>&ensp;View all friends</a>
                        </div>
                        <hr/>
                        @{
                            if (Model.ViewingUser.Bio != null)
                            {
                                <div>
                                    <h3 class="title is-5">About me</h3>
                                    <p>@Model.ViewingUser.Bio</p>
                                </div>
                                <hr/>
                            }
                        }
                        <div>
                            <div class="level">
                                <div class="level-item-left has-text-centered">
                                    <div>
                                        <h3 class="title is-5">Joined</h3>
                                    </div>
                                </div>
                                <div class="level-item-right has-text-centered">
                                    <div>
                                        <p class="is-size-6">@Model.JoinDate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h2 class="title is-5">Recent posts by this user</h2>
                        @* <div class="box"> *@
                        @*     <article class="media"> *@
                        @*         <figure class="media-left"> *@
                        @*             <p class="image is-64x64"> *@
                        @*                 <img src="https://bulma.io/images/placeholders/128x128.png"> *@
                        @*             </p> *@
                        @*         </figure> *@
                        @*         <div class="media-content"> *@
                        @*             <div class="content"> *@
                        @*                 <p> *@
                        @*                     <strong>John Smith</strong> <small>johnsmith</small> <small>31m</small> *@
                        @*                     <br> *@
                        @*                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis. *@
                        @*                 </p> *@
                        @*             </div> *@
                        @*             <nav class="level is-mobile"> *@
                        @*                 <div class="level-left"> *@
                        @*                     <a class="level-item"> *@
                        @*                         <div class="tags has-addons"> *@
                        @*                             <span class="tag is-primary"><i class="fas fa-thumbs-up"></i>&ensp; Like</span> *@
                        @*                             <span class="tag is-dark">100</span> *@
                        @*                         </div> *@
                        @*                     </a> *@
                        @*                     <a class="level-item"> *@
                        @*                         <div class="tags has-addons"> *@
                        @*                           <span class="tag is-info"><i class="fas fa-comments"></i>&ensp; Reply</span> *@
                        @*                           <span class="tag is-dark">69</span> *@
                        @*                         </div> *@
                        @*                     </a> *@
                        @*                 </div> *@
                        @*             </nav> *@
                        @*         </div> *@
                        @*     </article> *@
                        @* </div> *@

                        <div class="card">
                            <div class="card-content card-top has-background-dark has-text-white">
                                <div class="pfp-post"></div>
                                <div class="ml-3 mt-1">
                                    <p class="title has-text-white is-4">Dylan Kok</p>
                                    <p class="subtitle is-6 has-text-light" style="margin-top: -1.5rem">&#64;@Model.ViewingUser.Uid2</p>
                                </div>
                            </div>
                            <div class="card-content">
                                <p>Glasses are really versatile. First, you can have glasses-wearing girls take them off and suddenly become beautiful, or have girls wearing glasses flashing those cute grins, or have girls stealing the protagonist's glasses and putting them on like, "Haha, got your glasses!' That's just way too cute! Also, boys with glasses! I really like when their glasses have that suspicious looking gleam, and it's amazing how it can look really cool or just be a joke. I really like how it can fulfill all those abstract needs. Being able to switch up the styles and colors of glasses based on your mood is a lot of fun too! It's actually so much fun! You have those half rim glasses, or the thick frame glasses, everything! It's like you're enjoying all these kinds of glasses at a buffet.</p>
                            </div>
                            <div class="card-content has-background-light">
                                                        <nav class="level is-mobile">
                                                            <div class="level-left">
                                                                <a class="level-item">
                                                                    <div class="tags has-addons">
                                                                        <span class="tag is-primary"><i class="fas fa-thumbs-up"></i>&ensp; Like</span>
                                                                        <span class="tag is-dark">100</span>
                                                                    </div>
                                                                </a>
                                                                <a class="level-item">
                                                                    <div class="tags has-addons">
                                                                      <span class="tag is-info"><i class="fas fa-comments"></i>&ensp; Reply</span>
                                                                      <span class="tag is-dark">69</span>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="editProfileModal" class="modal is-active" style="display: none">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem">
                    <div class="card-content">
                        <div class="has-background-dark card-hero">
                            <button onclick="$('#editProfileModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
                        </div>
                        <div class="pfp-small"></div>

                        <form method="post">
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="John Doe" value="@Model.ViewingUser.Name" asp-for="EditName" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">KampongID</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" value="@Model.ViewingUser.Uid2" disabled>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-at"></i>
                                    </span>
                                </div>
                            </div>
                            <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;For security reasons, please visit <a>account settings</a> to change your KampongID.</small>

                            <hr/>

                            <div class="field">
                                <label class="label">About me</label>
                                <div class="control">
                                    <textarea class="textarea" rows="5" asp-for="EditBio">@Model.ViewingUser.Bio</textarea>
                                </div>
                            </div>

                            <hr/>

                            <div class="field">
                                <label class="label">Birthday</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="date" asp-for="EditBirthday">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-birthday-cake"></i>
                                    </span>
                                </div>
                            </div>
                            <span class="buttons">
                                <button class="mt-5 button is-primary" type="submit"><i class="fas fa-save"></i>&ensp;Save changes</button>
                            </span>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title">
                    <i class="fas fa-question-circle"></i>
                </p>
                <h1 class="subtitle is-4 has-text-weight-bold">We searched high and low, but we weren't able to find this account.</h1>
                <p>The user may have changed their user tag, deleted their account, or the user simply didn't exist to begin with.<br/>Please ensure that you did not make any typing mistakes.</p>
            </div>
        </section>
    }
}