@page
@model KampongTalk.Pages.Profile.Index

@{
    ViewData["Title"] = "";
}

<style>
    .pfp {
        height: 12rem;
        width: 12rem;
        background: grey; 
        border: .7rem solid white;
        border-radius: 9999rem;
        position: absolute;
    }
    
    .pfp-small {
            height: 8rem;
            width: 8rem;
            background: grey; 
            border: .5rem solid white;
            border-radius: 9999rem;
            margin-top: -5rem;
    }
    
    .card-hero {
        background: grey;
        width: 640px;
        height: 8em;
        margin-top: -1.5rem;
        margin-left: -1.5rem;
        margin-right: -1.5rem;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        margin-bottom: 1.5rem;
    }
</style>

<section class="hero is-medium has-background-grey is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="pfp"></div>
        </div>
    </div>
</section>


@{
    if (!Model.ShowUserNotFoundError)
    {
        <section class="section">
            <div class="container">
                <div class="columns mt-5">
                    <div class="column is-one-quarter">
                        <div>
                            <h1 class="title is-1">@Model.ViewingUser.Name</h1>
                            <p class="subtitle">&#64;@Model.ViewingUser.Uid2</p>
                            <br/>
                            <div class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">Friends</p>
                                        <p class="title">69</p>
                                    </div>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">Likes</p>
                                        <p class="title">420</p>
                                    </div>
                                </div>
                                @{
                                    if (Model.IsCurrentUserOwnPage)
                                    {
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <a class="button is-black is-outlined" onclick="$('#editProfileModal').fadeIn('fast')">Edit Profile</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                            <a class="has-text-grey"><i class="fas fa-arrow-right"></i>&ensp;View all friends</a>
                        </div>
                        <hr/>
                        @{
                            if (Model.ViewingUser.Bio != null)
                            {
                                <div>
                                    <h3 class="title is-5">About me</h3>
                                    <p>@Model.ViewingUser.Bio</p>
                                </div>
                                <hr/>
                            }
                        }
                        <div>
                            <div class="level">
                                <div class="level-item-left has-text-centered">
                                    <div>
                                        <h3 class="title is-5">Joined</h3>
                                    </div>
                                </div>
                                <div class="level-item-right has-text-centered">
                                    <div>
                                        <p class="is-size-6">@Model.JoinDate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h2 class="title is-5">Recent posts by this user</h2>
                        <p>Posts here</p>
                        @* TODO: Add posts *@
                    </div>
                </div>
            </div>
        </section>
        
        <div id="editProfileModal" class="modal is-active" style="display: none">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem">
                    <div class="card-content">
                        <div class="has-background-dark card-hero">
                            <button onclick="$('#editProfileModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
                        </div>
                        <div class="pfp-small"></div>
                        
                        <form method="post">
                            <div class="field">
                                <label class="label">Name</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="John Doe" value="@Model.ViewingUser.Name" asp-for="EditName" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>
                        
                            <div class="field">
                                <label class="label">KampongID</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" value="@Model.ViewingUser.Uid2" disabled>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-at"></i>
                                    </span>
                                </div>
                            </div>
                            <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;For security reasons, please visit <a>account settings</a> to change your KampongID.</small>

                            <hr/>
                        
                            <div class="field">
                                <label class="label">About me</label>
                                <div class="control">
                                    <textarea class="textarea" rows="5" asp-for="EditBio">@Model.ViewingUser.Bio</textarea>
                                </div>
                            </div>
                        
                            <hr/>
                        
                            <div class="field">
                                <label class="label">Birthday</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="date" asp-for="EditBirthday" value="@DateTime.Now">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-birthday-cake"></i>
                                    </span>
                                </div>
                            </div>
                            <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;Ensure that your birthday is entered correctly as it cannot be changed.</small>
                            <br/>
                            <span class="buttons">
                                <button class="mt-5 button is-primary" type="submit"><i class="fas fa-save"></i>&ensp;Save changes</button>
                            </span>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title">
                    <i class="fas fa-question-circle"></i>
                </p>
                <h1 class="subtitle is-4 has-text-weight-bold">We searched high and low, but we weren't able to find this account.</h1>
                <p>The user may have changed their user tag, deleted their account, or the user simply didn't exist to begin with.<br/>Please ensure that you did not make any typing mistakes.</p>
            </div>
        </section>
    }
}