@page
@model KampongTalk.Pages.Profile.Index

@{
    if (Model.ViewingUser != null)
    {
        ViewData["Title"] = Model.ViewingUser.Name;
        ViewData["SearchField"] = "@" + Model.ViewingUser.Uid2;
    }
    else
    {
        ViewData["Title"] = "404";
    }

    ViewData["currentUid"] = Model.CurrentUser.Uid;
}
<div data-title="@Model.LangData.walkthrough.profile.title1" data-intro="@Model.LangData.walkthrough.profile.intro1"></div>
<section id="profileHeader" class="hero is-medium has-background-primary-dark is-dark" data-title="@Model.LangData.walkthrough.profile.title2" data-intro="@Model.LangData.walkthrough.profile.intro2">
    <div class="hero-body">
        <div class="container">
            <div id="profileImage" class="pfp"></div>
        </div>
    </div>
</section>

<script>
    $(':root').css({ '--page-theme-color': 'unset', '--page-theme-color-light': 'unset' })
</script>

@{
    if (!Model.ShowUserNotFoundError)
    {
        <section class="section">
            <div class="container">
                <div class="columns mt-5">
                    <div class="column is-one-quarter">
                        <div data-title="@Model.LangData.walkthrough.profile.title3" data-intro="@Model.LangData.walkthrough.profile.intro3">
                            <h1 class="title is-1 has-text-black">@Model.ViewingUser.Name</h1>
                            <p data-intro="@Model.LangData.walkthrough.profile.intro4" 
                               class="subtitle has-text-page-color-light">&#64;@Model.ViewingUser.Uid2</p>
                            <br/>
                            <div class="level">
                                <div class="level-item has-text-centered" data-title="@Model.LangData.features.friends" data-intro="@Model.LangData.walkthrough.profile.intro5">
                                    <a onclick="$('#friendListModal').fadeIn('fast')">
                                        <p class="heading">@Model.LangData.profile.friends</p>
                                        <p class="title">@Model.FriendCount</p>
                                    </a>
                                </div>
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">@Model.LangData.profile.posts</p>
                                        <p class="title">@Model.PostCount</p>
                                    </div>
                                </div>
                            </div>
                            <p class="has-text-centered">
                                @{
                                    if (Model.IsCurrentUserOwnPage)
                                    {
                                        <a class="has-text-grey" onclick="$('#editProfileModal').fadeIn('fast')" data-title="@Model.LangData.walkthrough.profile.title6" data-intro="@Model.LangData.walkthrough.profile.intro6"><i class="fas fa-user-edit"></i>&ensp;@Model.LangData.profile.editProfile</a>
                                    }
                                    else
                                    {
                                        <div class="has-text-centered" data-title="@Model.LangData.walkthrough.profile.title7" data-intro="@Model.LangData.walkthrough.profile.intro7">
                                            <a class="has-text-grey" href="/Dms/Dm?to=@Model.ViewingUser.Uid"><i class="fa-solid fa-message"></i>&ensp;@Model.LangData.profile.sendMessage</a>
                                        </div>
                                        <br/>
                                        <form method="post" class="has-text-centered">

                                            <input type="hidden" asp-for="FriendActionOtherUid" value="@Model.ViewingUser.Uid"/>

                                            @if (Model.FriendActionToDisplay == "SHOW_ADD")
                                            {
                                                <div>
                                                    <input type="hidden" asp-for="FriendAction" value="ADD"/>
                                                    <button class="button is-success" data-intro="@Model.LangData.walkthrough.profile.intro8"><i class="fa-solid fa-user-plus"></i>&ensp;@Model.LangData.profile.friendReq.send</button>
                                                </div>
                                            }

                                            @if (Model.FriendActionToDisplay == "SHOW_PENDING_ACCEPTABLE")
                                            {
                                                <div>
                                                    <input type="hidden" asp-for="FriendAction" value="ADD"/>
                                                    <button class="button is-success"><i class="fa-solid fa-check"></i>&ensp;@Model.LangData.profile.friendReq.accept</button>
                                                </div>
                                            }

                                            @if (Model.FriendActionToDisplay == "SHOW_PENDING")
                                            {
                                                <div>
                                                    <input type="hidden" asp-for="FriendAction" value="CANCEL_REQ"/>
                                                    <a id="pendingBtn" class="button is-success is-light"><i class="fa-solid fa-spinner fa-pulse"></i>&ensp;@Model.LangData.profile.friendReq.pending</a>
                                                    <button id="undoReqBtn" class="button is-danger is-light" style="display: none"><i class="fa-solid fa-xmark"></i>&ensp;@Model.LangData.profile.friendReq.undoReq</button>
                                                </div>
                                            }

                                            @if (Model.FriendActionToDisplay == "SHOW_ADDED")
                                            {
                                                <div>
                                                    <input type="hidden" asp-for="FriendAction" value="REMOVE_FRIEND"/>
                                                    <a id="addedBtn" class="button is-light"><i class="fa-solid fa-user-group"></i>&ensp;@Model.LangData.profile.friendReq.added</a>
                                                    <button id="removeBtn" class="button is-danger" style="display: none"><i class="fa-solid fa-user-times"></i>&ensp;@Model.LangData.profile.friendReq.remove</button>
                                                </div>
                                            }
                                        </form>

                                        <script>
                                            $('#pendingBtn')
                                                .on('click', () => {
                                                    $('#pendingBtn').hide()
                                                    $('#undoReqBtn').show().focus()
                                                })

                                            $('#undoReqBtn')
                                                .on('focusout', () => {
                                                    $('#pendingBtn').show()
                                                    $('#undoReqBtn').hide()
                                                })
                                        </script>

                                        <script>
                                            $('#addedBtn')
                                                .on('click', () => {
                                                    $('#addedBtn').hide()
                                                    $('#removeBtn').show().focus()
                                                })

                                            $('#removeBtn')
                                                .on('focusout', () => {
                                                    $('#addedBtn').show()
                                                    $('#removeBtn').hide()
                                                })
                                        </script>
                                    }
                                }
                            </p>
                        </div>
                        <hr/>
                        @{
                            if (Model.IsAccountPrivateAccessible || Model.IsCurrentUserOwnPage)
                                if (Model.ViewingUser.Bio != null)
                                {
                                    <div>
                                        <h3 class="title is-5 has-text-page-color">@Model.LangData.profile.aboutMe</h3>
                                        <p style="hyphens: auto; overflow-wrap: break-word">@Model.ViewingUser.Bio</p>
                                    </div>
                                    <hr/>
                                }
                        }
                        <div>
                            <div class="level">
                                <div class="level-item-left has-text-centered">
                                    <div>
                                        <h3 class="title is-5 has-text-page-color">@Model.LangData.profile.joined</h3>
                                    </div>
                                </div>
                                <div class="level-item-right has-text-centered">
                                    <div>
                                        <p class="is-size-6">@Model.JoinDate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-three-quarters">
                        @{
                            @if (!Model.IsAccountPrivateAccessible && !Model.IsCurrentUserOwnPage)
                            {
                                <div class="section has-text-centered">
                                    <p class="title">
                                        <i class="fa-solid fa-lock"></i>
                                    </p>
                                    <h1 class="subtitle is-4 has-text-weight-bold has-text-page-color">@Model.LangData.profile.privateAcc.title</h1>
                                    @{
                                        string subtitle = @Model.LangData.profile.privateAcc.subtitle;
                                        <p>@subtitle.Replace("{ViewingUser.Name}", Model.ViewingUser.Name)</p>
                                    }
                                    
                                </div>
                            } 
                            else
                            if (!Model.PostsToDisplay.Any())
                            {
                                <section class="section is-medium">
                                    <div class="container has-text-centered">
                                        <p class="title">
                                            <i class="fas fa-feather-alt"></i>
                                        </p>
                                        <h1 class="subtitle is-4 has-text-weight-bold has-text-page-color">@Model.LangData.profile.empty.title</h1>
                                        <p>@Model.LangData.profile.empty.subtitle</p>
                                    </div>
                                </section>
                            }
                            else
                            {
                                <h2 class="title is-5" data-title="@Model.LangData.walkthrough.profile.title9" data-intro="@Model.LangData.walkthrough.profile.intro9">Recent posts by this user</h2>
                                foreach (var post in Model.PostsToDisplay.Reverse())
                                {
                                    <partial name="Partials/_Post" model="post" view-data="ViewData"/>
                                }
                                <div class="mt-6 has-text-centered">
                                    @if (Model.PageNo != 0)
                                    {
                                        <a class="button" href="?u=@Model.ViewingUser.Uid2&p=@Model.PreviousPageNo"><i class="fa-solid fa-arrow-left"></i>&ensp;@Model.LangData.previousPage</a>
                                    }
                                    @if (Model.PostsToDisplay.Count() == 10)
                                    {
                                        <a class="button" href="?u=@Model.ViewingUser.Uid2&p=@Model.NextPageNo">@Model.LangData.nextPage&ensp;<i class="fa-solid fa-arrow-right"></i></a>
                                    }
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </section>

        <div id="editProfileModal" class="modal is-active" style="display: none">
            <div class="modal-background"></div>
            <button onclick="$('#editProfileModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
            <div class="modal-content">
                <div class="card" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem">
                    <div class="card-content">
                        <div class="has-background-dark card-hero-user">
                            <div class="is-vcentered has-text-centered has-text-white banner-edit is-size-2" onclick="$('#bannerUploadField').trigger('click')">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>
                        <div class="pfp-small">
                            <div class="is-vcentered has-text-centered has-text-white pfp-edit is-size-2" onclick="$('#pfpUploadField').trigger('click')">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>

                        <form id="profileEditForm" method="post" enctype="multipart/form-data">
                            <input accept="image/png, image/jpg" type="file" asp-for="ProfileImage" id="pfpUploadField" style="opacity: 0; height: 0; width: 0"/>
                            <input accept="image/png, image/jpg" type="file" asp-for="BannerImage" id="bannerUploadField" style="opacity: 0; height: 0; width: 0"/>
                            <div class="field">
                                <label class="label">@Model.LangData.profile.edit.name</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" placeholder="John Doe" value="@Model.ViewingUser.Name" asp-for="EditName" required>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="field">
                                <label class="label">@Model.LangData.profile.edit.kampongId</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" value="@Model.ViewingUser.Uid2" disabled>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-at"></i>
                                    </span>
                                </div>
                            </div>
                            <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;@Html.Raw(Model.LangData.profile.edit.kampongIdHint)</small>

                            <hr/>

                            <div class="field">
                                <label class="label">@Model.LangData.profile.edit.aboutMe</label>
                                <div class="control">
                                    <input class="input" type="text" value="@Model.ViewingUser.Bio" asp-for="EditBio" style="word-break: break-word;">
                                </div>
                            </div>

                            @* <hr/> *@

                            @* <div class="field"> *@
                            @*     <label class="label">Birthday</label> *@
                            @*     <div class="control has-icons-left"> *@
                            @*         <input class="input" type="date" asp-for="EditBirthday"> *@
                            @*         <span class="icon is-small is-left"> *@
                            @*             <i class="fas fa-birthday-cake"></i> *@
                            @*         </span> *@
                            @*     </div> *@
                            @* </div> *@
                            <span class="buttons">
                                <button class="mt-5 button is-primary" type="submit"><i class="fas fa-save"></i>&ensp;@Model.LangData.saveChanges</button>
                            </span>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="~/js/Board.js"></script>
    }
    else
    {
        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title">
                    <i class="fas fa-question-circle"></i>
                </p>
                <h1 class="subtitle is-4 has-text-weight-bold">@Model.LangData.profile.notExist.title</h1>
                <p>@Model.LangData.profile.notExist.subtitle</p>
            </div>
        </section>
    }
}

<!--Image modal-->
<div class="modal is-active" id="ImageModal" style="display: none;">
    <div class="modal-background" onclick="$('#ImageModal').fadeOut('fast');"></div>
    <br/>
    <div class="modal-content mt-6">
        <div class="box has-text-centered">
            <img id="imgInModal"/>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close" onclick="$('#ImageModal').fadeOut('fast');"></button>
</div>

<script>
    $("#pfpUploadField").on('change', () => {
        $("#profileEditForm").submit()
    })
    $("#bannerUploadField").on('change', () => {
        $("#profileEditForm").submit()
    })
</script>

<script defer>
    setTimeout(function () {
        if (window.location.hash === '#walkthrough') {
            introJs().start()
        }
    }, 10);
</script>

<script>
    function likePost(postSpan, likeBtn) {
        var Pid = postSpan.innerText
        $.ajax({
            type: "POST",
            url: "/Board/like",
            beforeSend: function (xhr) {
                xhr.setRequestHeader("XSRF-TOKEN",
                    $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: {
                EntityId: Pid
            },
            success: function (likeResp) {
                var likeRespArr = likeResp.toString().split(",")
                if (likeRespArr[0] == '1') {
                    likeBtn.firstElementChild.innerHTML = '<i class="fas fa-thumbs-up"></i>&ensp; @Model.LangData.post.like';
                }
                else {
                    likeBtn.firstElementChild.innerHTML = '<i class="far fa-thumbs-up"></i>&ensp; @Model.LangData.post.like';
                }
                likeBtn.lastElementChild.innerHTML = likeRespArr[1]

            },
            error: function () {
                return "error";
            }

        })
    }
</script>

@{
    if (Model.ViewingUser != null)
    {
        <style>
            #profileImage, .pfp-small {
                background: url('/userdata/@Model.ViewingUser.AvatarImg') center no-repeat; background-size: cover
            }

            #profileHeader, .card-hero-user {
                background: url('/userdata/@Model.ViewingUser.BannerImg') center no-repeat; background-size: cover
            }

            .has-text-page-color {
                color: rgb(var(--page-theme-color));
            }

            .has-text-page-color-light {
                color: rgb(var(--page-theme-color-light));
            }

        </style>

        <script>
            Vibrant.from('/userdata/@Model.ViewingUser.BannerImg').getPalette((err, palette) => {
                $('nav.navbar').css({ 'background-color': `rgb(${palette.DarkMuted._rgb})` })
                $(':root').css({ '--page-theme-color': `${palette.DarkMuted._rgb}`, '--page-theme-color-light': `${palette.Muted._rgb}` })
            });
        </script>

        <div id="friendListModal" class="modal is-active" style="display: none">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card">
                    <div class="card-content has-background-light">
                        @if (Model.IsCurrentUserOwnPage)
                        {
                            <p class="title is-4"><i class="fa-solid fa-user-group"></i>&ensp;Your friend list</p>
                        }
                        else
                        {
                            <p class="title is-4"><i class="fa-solid fa-user-group"></i>&ensp;Friend list of @Model.ViewingUser.Name</p>
                        }
                    </div>
                    
                    @if (!Model.IsAccountPrivateAccessible && !Model.IsCurrentUserOwnPage)
                    {
                        <div class="section has-text-centered">
                            <p class="title">
                                <i class="fa-solid fa-lock"></i>
                            </p>
                            <p class="subtitle">@Model.LangData.profile.privateAccountFriendsList.title</p>
                            <p>@Model.LangData.profile.privateAccountFriendsList.subtitle</p>
                        </div>
                    } else {
                        @if (Model.FriendListPendingIncoming.Count != 0 && Model.IsCurrentUserOwnPage)
                        {
                            <div class="card-content">
                                <p class="has-text-weight-bold">@Model.LangData.profile.friendList.incoming — @Model.FriendListPendingIncoming.Count @Model.LangData.profile.friendList.requests</p>
                                @foreach (var user in Model.FriendListPendingIncoming)
                                {
                                    <a href="/Profile?u=@user.Uid2" class="view-more-item">
                                        <div class="pt-4 pb-4">
                                            <div class="level">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <div class="pfp-post" style="background: url('/userdata/@user.AvatarImg') center no-repeat; background-size: cover"></div>
                                                    </div>
                                                    <div class="level-item">
                                                        <div>
                                                            <p class="title is-5" style="overflow-wrap: break-word; hyphens: auto;">
                                                                @user.Name
                                                                <span class="is-size-6 has-text-grey">&#64;@user.Uid2</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        }

                        @if (Model.FriendListPendingOutgoing.Count != 0)
                        {
                            <div class="card-content">
                                <p class="has-text-weight-bold">@Model.LangData.profile.friendList.outgoing — @Model.FriendListPendingOutgoing.Count @Model.LangData.profile.friendList.requests</p>
                                @foreach (var user in Model.FriendListPendingOutgoing)
                                {
                                    <a href="/Profile?u=@user.Uid2" class="view-more-item">
                                        <div class="pt-4 pb-4">
                                            <div class="level">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <div class="pfp-post" style="background: url('/userdata/@user.AvatarImg') center no-repeat; background-size: cover"></div>
                                                    </div>
                                                    <div class="level-item">
                                                        <div>
                                                            <p class="title is-5" style="overflow-wrap: break-word; hyphens: auto;">
                                                                @user.Name
                                                                <span class="is-size-6 has-text-grey">&#64;@user.Uid2</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        }

                        @if (Model.FriendList.Count != 0)
                        {
                            <div class="card-content">
                                <p class="has-text-weight-bold">@Model.LangData.profile.friendList.friends — @Model.FriendList.Count @Model.LangData.profile.friendList.users</p>
                                @foreach (var user in Model.FriendList)
                                {
                                    <a href="/Profile?u=@user.Uid2" class="view-more-item">
                                        <div class="pt-4 pb-4">
                                            <div class="level">
                                                <div class="level-left">
                                                    <div class="level-item">
                                                        <div class="pfp-post" style="background: url('/userdata/@user.AvatarImg') center no-repeat; background-size: cover"></div>
                                                    </div>
                                                    <div class="level-item">
                                                        <div>
                                                            <p class="title is-5" style="overflow-wrap: break-word; hyphens: auto;">
                                                                @user.Name
                                                                <span class="is-size-6 has-text-grey">&#64;@user.Uid2</span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="section has-text-centered">
                                <p class="title">
                                    <i class="fa-solid fa-dove"></i>
                                </p>
                                <p class="subtitle">@Model.LangData.profile.friendListEmpty.title</p>
                                <p>@Model.LangData.profile.friendListEmpty.subtitle</p>
                            </div>
                        }
                    }
                </div>
            </div>
            <button id="friendsCloseBtn" onclick="$('#friendListModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
        </div>
        @if (Model.IsOpenModalOnGet)
        {
            <script>
                $('#friendListModal').fadeIn('fast')
                $('#friendsCloseBtn').attr('onclick', 'window.location.replace("/Index")')
            </script>
        }
    }
}