@page
@model KampongTalk.Pages.GuidesModel
@{
}

<section class="section">
    <div class="container">
        <div class="is-pulled-right has-text-centered" style="width:400px">
            <p>&emsp;&emsp;&emsp;&emsp;<i class="fa-solid fa-arrow-up"></i></p>
            <span class="tag is-medium is-success">@Model.LangData.guides.tip</span>
        </div>
        
        <h1 class="is-size-1 has-text-weight-bold">@Model.LangData.guides.guidedTours</h1>
        <br />
        <div class="container has-background-grey-lighter section has-text-centered pt-4">
            <span class="is-size-3">@Model.LangData.guides.howToUse &ensp;</span>

            <br />
            <a href="/#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width:200px" data-title="Access a guide" data-intro="Click on any of these boxes to get a tour of that feature.">
                    <img src="~/imgs/NavMap/overall_map.png" style="height:15vh;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.features.map</p>
                    <p>@Model.LangData.guides.mapDesc</p>
                </div>
            </a>

            <a href="/Board#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width:200px">
                    <img src="~/imgs/NavMap/Board_Icon.png" style="height:15vh;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.features.board</p>
                    <p>@Model.LangData.guides.boardDesc</p>
                </div>
            </a>

            <a href="/Community/Explore#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width: 200px">
                    <img src="~/imgs/NavMap/Communities_Icon.png" style="height:15vh;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.features.communities</p>
                    <p>@Model.LangData.guides.commsDesc</p>
                </div>
            </a>
            <a href="/DigitalVoidDeck/Lobby#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width: 200px">
                    <img src="~/imgs/NavMap/Void_Deck.png" style="height:15vh;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.features.voidDeck</p>
                    <p>@Model.LangData.guides.voidDeckDesc</p>
                </div>
            </a>
            <a href="/Events#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width: 200px">
                    <img src="~/imgs/NavMap/Events_Icon.png" style="height:15vh;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.features.events</p>
                    <p>@Model.LangData.guides.eventsDesc</p>
                </div>
            </a>
            <a href="/Dms/ChatList#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width: 200px">
                    <img src="~/imgs/NavMap/Chat_Icon.png" style="height:15vh;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.features.chats</p>
                    <p>@Model.LangData.guides.chatDesc</p>
                </div>
            </a>
            <a href="/Support#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width: 200px">
                    <img src="~/imgs/NavMap/Support_Icon.png" style="height:15vh;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.features.support</p>
                    <p>@Model.LangData.guides.supportDesc</p>
                </div>
            </a>
            <a href="/Profile?u=@Model.CurrentUser.Uid2#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width: 200px">
                    <img src="~/userdata/default.jpg" style="height:15vh;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.guides.yourProfile</p>
                    <p>@Model.LangData.guides.profDesc</p>
                </div>
            </a>
            <a href="/Settings#walkthrough">
                <div class="box is-inline-block m-2 has-text-centered" style="width: 200px">
                    <img src="~/imgs/NavMap_SettingsIcon.png" style="height: 15vh; opacity: 0.9;" class="mt-3" />
                    <p class="is-size-4 has-text-centered has-text-weight-bold">@Model.LangData.features.settings</p>
                    <p>@Model.LangData.guides.settingsDesc</p>
                </div>
            </a>

        </div>
    </div>
</section>

