@page
@model KampongTalk.Pages.SupportModel
@{
}

@*<link rel="stylesheet" href="~/css/Support.css">*@


&nbsp;
<section id="contact-form" class="section">
    <div class="columns is-vcentered">
        <div class="column"></div>

        <!--Form column-->
        <div class="column is-half" 
             data-title="@Model.LangData.walkthrough.support.title1" data-intro="@Model.LangData.walkthrough.support.intro1">
            <h2 class="title">@Model.LangData.support.contact</h2>
            <form id="contact" name="contact" accept-charset="utf-8" method="post">

               


                <!--Subject field-->
                <div class="field">
                    <label class="label">@Model.LangData.support.subject</label>
                    <div class="control">
                        <!--Name input-->
                        <input class="input" name="subject" type="text" asp-for="sendmail.Subject" placeholder="@Model.LangData.support.contact">
                    </div>
                </div>



                <!--Message field-->
                <div class="field">
                    <label class="label">@Model.LangData.support.message</label>
                    <div class="control">
                        <!--Message input-->
                        <textarea class="textarea" name="body" asp-for="sendmail.Body" placeholder="@Model.LangData.support.messageplaceholder"></textarea>
                    </div>
                </div>
                <br />

                <!--Submit button-->
                <button class="button is-fullwidth is-info" name="submit" type="submit" value="Send Mail">@Model.LangData.support.submit</button>
                

            </form>
        </div>

        <!--Information column-->
        <div class="column is-one-third has-text-centered" data-title="@Model.LangData.walkthrough.support.title2" data-intro="@Model.LangData.walkthrough.support.intro2">
            <p class="is-size-5"><strong>@Model.LangData.support.contacthotline</strong>@Model.LangData.support.contacthotlinenumber</p>
            <br />
            <p class="is-size-5"><strong>@Model.LangData.support.address</strong>@Model.LangData.support.addressaddress</p>
        </div>

        <div class="column"></div>
    </div>


</section>

<!--This is for the walkthrough-->
<script defer>
    setTimeout(function () {
        if (window.location.hash === '#walkthrough') {
            introJs().start()
        }
    }, 10);
</script>