@page
@model KampongTalk.Pages.Settings.Index

@{
    ViewData["Title"] = "Account Settings";
}

<style>
    .pfp.small {
        height: 5rem;
        width: 5rem;
        background: grey; 
        border: .4rem solid white;
        border-radius: 9999rem;
    }
    .account-detail-field {
        margin-bottom: 0.3rem
    }
</style>

<section class="section" data-title="@Model.LangData.walkthrough.settings.title1" data-intro="@Model.LangData.walkthrough.settings.intro1">
    <div class="container">
        <div class="card" data-title="@Model.LangData.walkthrough.settings.title2" data-intro="@Model.LangData.walkthrough.settings.intro2" >
            <div class="card-content">
                <p class="title is-5"><i class="fas fa-user"></i>&ensp;@Model.LangData.settings.kampongId.title</p>
                <p class="subtitle is-6">@Model.LangData.settings.kampongId.subtitle</p>
                <div class="account-detail-field">
                    <small class="has-text-weight-bold">@Model.LangData.settings.kampongId.currentId</small>
                    <p class="is-size-4">@@@Model.CurrentUser.Uid2</p>
                    <br/>
                    <p>@Model.LangData.settings.hint</p>
                </div>
                <a class="button is-dark mt-4" onclick="$('#changeKampongIDModal').fadeIn('fast'); $('#kampongID').val('')"><i class="fas fa-arrow-right"></i>&ensp;Change KampongID</a>
            </div>
        </div>

        <div class="card mt-5" data-title="@Model.LangData.walkthrough.settings.title3" data-intro="@Model.LangData.walkthrough.settings.intro3">
            <div class="card-content">
                <p class="title is-5">
                    <i class="fas fa-shield-alt"></i>&ensp;@Model.LangData.settings.accountPrivacySecurity.title
                </p>
                <p class="subtitle is-6">@Model.LangData.settings.accountPrivacySecurity.subtitle</p>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">@Model.LangData.settings.accountPrivacySecurity.password</small>
                    <p>
                        @Model.LangData.settings.accountPrivacySecurity.passwordDesc
                    </p>
                </div>
                @* <div class="account-detail-field"> *@
                @*     <small class="has-text-weight-bold">Preferred Login Method</small> *@
                @*     <p>Password-less Login</p> *@
                @* </div> *@
                <a class="button is-dark mt-4" onclick="$('#changePasswordModal').fadeIn('fast');"><i class="fas fa-arrow-right"></i>&ensp;Change password</a>
                <hr/>
                <div class="account-detail-field">
                    <small class="has-text-weight-bold">@Model.LangData.settings.accountPrivacySecurity.profileVisibility</small>
                    <p>
                        @Model.LangData.settings.accountPrivacySecurity.accountIs
                        @if (Model.IsPrivateProfile)
                        {
                            <span>@Model.LangData.settings.accountPrivacySecurity.profilePrivacy.privateLabel</span>
                            <br/>
                            <small class="has-text-grey has-text-weight-normal">@Model.LangData.settings.accountPrivacySecurity.profilePrivacy.privateDesc</small>
                        }
                        else
                        {
                            <span>@Model.LangData.settings.accountPrivacySecurity.profilePrivacy.publicLabel</span>
                            <br/>
                            <small class="has-text-grey has-text-weight-normal">@Model.LangData.settings.accountPrivacySecurity.profilePrivacy.publicDesc</small>
                        }

                    </p>
                </div>
                <a class="button is-dark mt-4" onclick="$('#changePrivacyModal').fadeIn('fast');"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.settings.accountPrivacySecurity.profilePrivacy.button</a>
            </div>
        </div>

        <div class="card mt-5" data-title="@Model.LangData.walkthrough.settings.title4" data-intro="@Model.LangData.walkthrough.settings.intro4">
            <div class="card-content">
                <p class="title is-5"><i class="fas fa-universal-access"></i>&ensp;@Model.LangData.settings.accessibilityLanguage.title</p>
                <p class="subtitle is-6">@Model.LangData.settings.accessibilityLanguage.subtitle</p>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">@Model.LangData.settings.accessibilityLanguage.displayLang</small>
                    <p>@Model.DisplayLang</p>
                </div>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">@Model.LangData.settings.accessibilityLanguage.displayTextSize</small>
                    <p>@Model.DisplayTextSize</p>
                </div>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">@Model.LangData.settings.accessibilityLanguage.gender</small>
                    <p>@Model.DisplaySpeechGender</p>
                </div>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">@Model.LangData.settings.accessibilityLanguage.useAudio</small>
                    <p>@Model.DisplayAudioCues</p>
                </div>

                <a class="button is-dark mt-4" href="/Settings/Preference"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.settings.accessibilityLanguage.button</a>
            </div>
        </div>

        @* <a> *@
        @*     <div class="card mt-5"> *@
        @*         <div class="card-content"> *@
        @*             <div class="columns is-vcentered"> *@
        @*                 <div class="column is-four-fifths"> *@
        @*                     <p class="title is-5"><i class="fas fa-hourglass-half"></i>&ensp;Make a plan for your digital legacy</p> *@
        @*                     <p class="subtitle is-6">Tell KampongTalk what to do when you can't use your KampongTalk account anymore</p> *@
        @*                 </div> *@
        @*                 <div class="column has-text-right has-text-grey-light"> *@
        @*                     <i class="fas fa-arrow-right is-size-2"></i> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </a> *@
        @* *@
        @* <a> *@
        @*     <div class="card mt-5"> *@
        @*         <div class="card-content"> *@
        @*             <div class="columns is-vcentered"> *@
        @*                 <div class="column is-four-fifths"> *@
        @*                     <p class="title is-5"><i class="fas fa-trash-alt"></i>&ensp;Delete your KampongTalk account</p> *@
        @*                     <p class="subtitle is-6">Delete your entire account and purge all personal data</p> *@
        @*                 </div> *@
        @*                 <div class="column has-text-right has-text-grey-light"> *@
        @*                     <i class="fas fa-arrow-right is-size-2"></i> *@
        @*                 </div> *@
        @*             </div> *@
        @*         </div> *@
        @*     </div> *@
        @* </a> *@
    </div>
</section>

<div id="changeKampongIDModal" class="modal is-active" style="display: none">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content has-background-light">
                <p class="title is-4"><i class="fa-solid fa-at"></i>&ensp;@Model.LangData.settings.changeId.changeIdText</p>
            </div>
            <div class="card-content">
                <small class="has-text-weight-bold">@Model.LangData.settings.changeId.currId</small>
                <p class="is-size-4">@@@Model.CurrentUser.Uid2</p>
            </div>
            <div class="card-content has-background-danger-light has-text-danger-dark">
                <p class="title has-text-danger-dark is-5 mb-2"><i class="fa-solid fa-circle-exclamation"></i>&ensp;@Model.LangData.settings.changeId.takeNote</p>
                <div class="content">
                    <p>@Model.LangData.settings.changeId.afterChange</p>
                    <ul>
                        <li>@Model.LangData.settings.changeId.afterChange1</li>
                        <li>@Model.LangData.settings.changeId.afterChange2</li>
                        <li>@Model.LangData.settings.changeId.afterChange3</li>
                    </ul>
                    <p>@Model.LangData.settings.changeId.friendsFam</p>
                </div>
            </div>
            <div class="card-content">
                <form autocomplete="off" method="post">
                    <input value="KAMPONGID_CHANGE" asp-for="ForForm" type="hidden"/>
                    <div class="field">
                        <label class="label">@Model.LangData.settings.changeId.newKampongId</label>
                        <div class="control has-icons-left">
                            <input class="input @Model.ShowDuplicateUid2ErrorClass" type="text" placeholder="@Model.CurrentUser.Uid2" asp-for="NewKampongId">
                            <span class="icon is-small is-left">
                                <i class="fas fa-at"></i>
                            </span>
                            @if (Model.ShowDuplicateUid2Error)
                            {
                                <small class="has-text-danger">@Model.LangData.settings.changeId.idUsed</small>
                            }
                            @if (Model.ShowCurrentUid2Error)
                            {
                                <small class="has-text-danger">@Model.LangData.settings.changeId.idBelongsidBelongs</small>
                            }
                        </div>
                    </div>
                    <input type="text" id="kampongID" style="height: 0; width: 0; opacity: 0; position: absolute; padding: 0">
                    <div class="field">
                        <label class="label">@Model.LangData.settings.changeId.pw</label>
                        <div class="control has-icons-left">
                            <input class="input @Model.ShowPasswordErrorClass" type="password" placeholder="••••••••" asp-for="IncomingPassword">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            @if (Model.ShowPasswordError) {
                                <small class="has-text-danger">@Model.LangData.settings.changeId.pwErr</small>
                            }
                        </div>
                        <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;@Model.LangData.settings.changeId.change1</small>
                    </div>
                    <br/>
                    <button class="button is-primary"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.settings.changeId.change2</button>
                </form>
            </div>
        </div>
    </div>
    <button id="changeKampongIDModalCloseBtn" onclick="$('#changeKampongIDModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
    
    <script>
    setTimeout(() => {
        if ($("#kampongID").val() === '@Model.CurrentUser.PhoneNumber' ) {
                $("#kampongID").val("")
        }
    }, 800)
    </script>
</div>

<div id="changePasswordModal" class="modal is-active" style="display: none">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content has-background-light">
                <p class="title is-4"><i class="fa-solid fa-key"></i>&ensp;@Model.LangData.settings.changePassword.changeIdText</p>
            </div>
            <div class="card-content">
                <form autocomplete="off" method="post">
                    <input value="PASSWORD_CHANGE" asp-for="ForForm" type="hidden"/>
                    <div class="field">
                        <label class="label">@Model.LangData.settings.changePassword.currId</label>
                        <div class="control has-icons-left">
                            <input class="input @Model.ShowPasswordErrorClass" type="password" placeholder="••••••••" asp-for="IncomingPassword">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-unlock"></i>
                            </span>
                            @if (Model.ShowPasswordError) {
                                <small class="has-text-danger">@Model.LangData.settings.changePassword.incorrectPw</small>
                            }
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">@Model.LangData.settings.changePassword.newPw</label>
                        <div class="control has-icons-left">
                            <input class="input @Model.ShowNewPasswordErrorClass" type="password" placeholder="••••••••" asp-for="NewPassword">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            @if (Model.ShowNewPasswordError) {
                                <small class="has-text-danger">@Model.LangData.settings.changePassword.newPwMsg</small>
                            }
                        </div>
                    </div>
                    <br/>
                    <button class="button is-primary"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.settings.changePassword.updatePw</button>
                </form>
            </div>
        </div>
    </div>
    <button id="changePasswordModalCloseBtn" onclick="$('#changePasswordModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
</div>

<div id="changePrivacyModal" class="modal is-active" style="display: none">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content has-background-light">
                <p class="title is-4"><i class="fa-solid fa-key"></i>&ensp;@Model.LangData.settings.changePrivacy.title</p>
            </div>
            <div class="card-content has-background-info-light has-text-info-dark">
                <p class="title has-text-info-dark is-5 mb-2"><i class="fa-solid fa-circle-info"></i>&ensp;@Model.LangData.settings.changePrivacy.whatIsPrivate</p>
                <div class="content">
                    <p>@Model.LangData.settings.changePrivacy.whenYouSet</p>
                    <ul>
                        <li>@Model.LangData.settings.changePrivacy.noticeList.a</li>
                        <li>@Model.LangData.settings.changePrivacy.noticeList.b</li>
                        <li>@Model.LangData.settings.changePrivacy.noticeList.c</li>
                        <li>@Model.LangData.settings.changePrivacy.noticeList.d</li>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <form autocomplete="off" method="post">
                    <input value="PRIVACY_CHANGE" asp-for="ForForm" type="hidden"/>
                    <div class="field">
                        <label class="checkbox">
                            @Html.CheckBox("IsPrivateProfile", Model.IsPrivateProfile)
                            @Model.LangData.settings.changePrivacy.makePrivate
                        </label>
                    </div>
                    <br/>
                    <button class="button is-primary"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.saveChanges</button>
                </form>
            </div>
        </div>
    </div>
    <button id="changePrivacyCloseBtn" onclick="$('#changePrivacyModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
</div>


@if (Model.AutoOpenModalId != null) {
    <script>
        $("#@Model.AutoOpenModalId").fadeIn('fast');
    </script>
}

<script defer>
    setTimeout(function () {
        if (window.location.hash === '#walkthrough') {
            introJs().start()
        }
    }, 10);
</script>