@page
@model KampongTalk.Pages.Settings.Index

@{
    ViewData["Title"] = "Account Settings";
}

<style>
    .pfp.small {
        height: 5rem;
        width: 5rem;
        background: grey; 
        border: .4rem solid white;
        border-radius: 9999rem;
    }
    .account-detail-field {
        margin-bottom: 0.3rem
    }
</style>

<section class="section">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <p class="title is-5"><i class="fas fa-user"></i>&ensp;Your KampongID</p>
                <p class="subtitle is-6">Help friends and family easily find you using your KampongID.</p>
                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Your current KampongID</small>
                    <p class="is-size-4">@@@Model.CurrentUser.Uid2</p>
                    <br/>
                    <p>You can share your KampongID with your friends and family for them to easily locate your profile page just by typing it into the search bar.</p>
                </div>
                <a class="button is-dark mt-4" onclick="$('#changeKampongIDModal').fadeIn('fast'); $('#kampongID').val('')"><i class="fas fa-arrow-right"></i>&ensp;Change KampongID</a>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-content">
                <p class="title is-5">
                    <i class="fas fa-shield-alt"></i>&ensp;Account Privacy &amp; Security
                </p>
                <p class="subtitle is-6">Keep your account secured and control it's visibility.</p>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Password</small>
                    <p>Your password was last changed on {{}}</p>
                </div>
                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Preferred Login Method</small>
                    <p>Password-less Login</p>
                </div>
                <a class="button is-dark mt-4"><i class="fas fa-arrow-right"></i>&ensp;Change security settings</a>
                <hr/>
                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Profile Visibility</small>
                    <p>Your account is private</p>
                    <small class="has-text-grey has-text-weight-normal">Your profile page can only be viewed by your friends.</small>
                </div>
                <a class="button is-dark mt-4"><i class="fas fa-arrow-right"></i>&ensp;Toggle profile privacy</a>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-content">
                <p class="title is-5"><i class="fas fa-universal-access"></i>&ensp;Accessibility &amp; Language</p>
                <p class="subtitle is-6">Change the way KampongTalk looks for your comfort.</p>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Display Language</small>
                    <p>@Model.DisplayLang</p>
                </div>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Display Text Size</small>
                    <p>@Model.DisplayTextSize</p>
                </div>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Gender</small>
                    <p>@Model.DisplaySpeechGender</p>
                </div>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Use audio cues</small>
                    <p>@Model.DisplayAudioCues</p>
                </div>

                <div class="account-detail-field">
                    <small class="has-text-weight-bold">Enable passwordless</small>
                    <p>@Model.DisplayPasswordLess</p>
                </div>

                <a class="button is-dark mt-4" href="/Settings/Preference"><i class="fas fa-arrow-right"></i>&ensp;Toggle profile preferences</a>
            </div>
        </div>

        <a>
            <div class="card mt-5">
                <div class="card-content">
                    <div class="columns is-vcentered">
                        <div class="column is-four-fifths">
                            <p class="title is-5"><i class="fas fa-hourglass-half"></i>&ensp;Make a plan for your digital legacy</p>
                            <p class="subtitle is-6">Tell KampongTalk what to do when you can't use your KampongTalk account anymore</p>
                        </div>
                        <div class="column has-text-right has-text-grey-light">
                            <i class="fas fa-arrow-right is-size-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <a>
            <div class="card mt-5">
                <div class="card-content">
                    <div class="columns is-vcentered">
                        <div class="column is-four-fifths">
                            <p class="title is-5"><i class="fas fa-trash-alt"></i>&ensp;Delete your KampongTalk account</p>
                            <p class="subtitle is-6">Delete your entire account and purge all personal data</p>
                        </div>
                        <div class="column has-text-right has-text-grey-light">
                            <i class="fas fa-arrow-right is-size-2"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</section>

<div id="changeKampongIDModal" class="modal is-active" style="display: none">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <div class="card-content has-background-light">
                <p class="title is-4"><i class="fa-solid fa-at"></i>&ensp;Change your KampongID</p>
            </div>
            <div class="card-content">
                <small class="has-text-weight-bold">Your current KampongID</small>
                <p class="is-size-4">@@@Model.CurrentUser.Uid2</p>
            </div>
            <div class="card-content has-background-danger-light has-text-danger-dark">
                <p class="title has-text-danger-dark is-5 mb-2"><i class="fa-solid fa-circle-exclamation"></i>&ensp;Things to take note</p>
                <div class="content">
                    <ul>
                        <li>Other users cannot use your previous KampongID to find you.</li>
                        <li>The web address to your profile page will also be changed.</li>
                        <p class="has-text-weight-bold mt-3">Make sure you inform your friends and family so that they can still find you after this change to your KampongID.</p>
                    </ul>
                </div>
            </div>
            <div class="card-content">
                <form autocomplete="off" method="post">
                    <input value="KAMPONGID_CHANGE" asp-for="ForForm" type="hidden"/>
                    <div class="field">
                        <label class="label">New KampongID</label>
                        <div class="control has-icons-left">
                            <input class="input @Model.ShowDuplicateUid2ErrorClass" type="text" placeholder="@Model.CurrentUser.Uid2" asp-for="NewKampongId">
                            <span class="icon is-small is-left">
                                <i class="fas fa-at"></i>
                            </span>
                            @if (Model.ShowDuplicateUid2Error)
                            {
                                <small class="has-text-danger">This KampongID is currently being used by another user.</small>
                            }
                            @if (Model.ShowCurrentUid2Error)
                            {
                                <small class="has-text-danger">This KampongID already belongs to you. No changes required.</small>
                            }
                        </div>
                    </div>
                    <input type="text" id="kampongID" style="height: 0; width: 0; opacity: 0; position: absolute; padding: 0">
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control has-icons-left">
                            <input class="input @Model.ShowPasswordErrorClass" type="password" placeholder="••••••••" asp-for="IncomingPassword">
                            <span class="icon is-small is-left">
                                <i class="fa-solid fa-key"></i>
                            </span>
                            @if (Model.ShowPasswordError) {
                                <small class="has-text-danger">Password is incorrect.</small>
                            }
                        </div>
                        <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;As you are performing a major change to your account, we will need your password to continue.</small>
                    </div>
                    <br/>
                    <button class="button is-primary"><i class="fas fa-arrow-right"></i>&ensp;Save changes</button>
                </form>
            </div>
        </div>
    </div>
    <button id="friendsCloseBtn" onclick="$('#changeKampongIDModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
    
    <script>
    setTimeout(() => {
        if ($("#kampongID").val() === '@Model.CurrentUser.PhoneNumber' ) {
                $("#kampongID").val("")
        }
    }, 800)
    </script>
</div>

@if (Model.AutoOpenModalId != null) {
    <script>
        $("#@Model.AutoOpenModalId").fadeIn('fast');
    </script>
}