@page
@model KampongTalk.Pages.Settings.PreferenceModel
@{
}


<form method="post">

    <div class="card mt-5 ml-3">
        <div class="card-content">
            <p class="title is-8"> Profile Preferences</p>
            <hr />


            <div class="field">
                <label class="label">Language</label>
                <small>Switch to your preferred language.</small>
                <div class="control has-icons-left">
                    <select id="endTime" value="@Model.currentUserPreference.Language" asp-for="newUserPreference.Language" asp-items="Model.LangPrefList" class="form-control"></select>
                </div>
            </div>


            <div class="field">
                <label class="label">Text size</label>
                <small>Customise to your preferred text size for better readability.</small>
                <div class="control has-icons-left">
                    <select id="endTime" value="@Model.currentUserPreference.TextSize" asp-for="newUserPreference.TextSize" asp-items="Model.TextPrefSize" class="form-control"></select>
                </div>
            </div>


            <div class="field">
                <label class="label">Gender</label>
                <small>Text-to-speech speaker can be Male or Female</small>
                <div class="control has-icons-left">
                    <select id="endTime" value="@Model.currentUserPreference.SpeechGender" asp-for="newUserPreference.SpeechGender" asp-items="Model.SpeechGender" class="form-control"></select>
                </div>
            </div>

            <div class="field">
                <label class="label">Audio cues</label>
                <small>Sounds effects will be used when interacting with KampongTalk</small>
                <div class="control has-icons-left">
                    <input type="checkbox" checked="@Model.currentUserPreference.UseAudioCues == true" asp-for="newUserPreference.UseAudioCues">
                </div>
            </div>

            <div class="field">
                <label class="label">Passwordless</label>
                <small>Tick to use One-Time-Passwords for logins</small>
                <div class="control has-icons-left">
                    <input type="checkbox" checked="@Model.currentUserPreference.UsePasswordLess == true" asp-for="newUserPreference.UsePasswordLess">
                </div>
            </div>


            <span class="buttons">
                <button class="mt-5 button is-primary " type="submit"><i class="fas fa-save"></i>&ensp;Save changes</button>
            </span>
        </div>
    </div>

</form>

