@page
@using KampongTalk.Models
@model KampongTalk.Pages.Dms.ChatListModel
@{
}

<div class="iconDiv">
    <a href="/index">
        <img src="~/imgs/BackButton.png" style=" height: 3vh; right: 100px;" />
    </a>
</div>


<section class="section">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-half box" data-title="Welcome to your chats." data-intro="Here, you can access your private messages. Click on a row to open that chat.">
                <br />
                <h1 class="title has-text-weight-bold" 
                    data-title="To start a chat with a user," data-intro="Message them from their profile or one of their posts. Happy messaging! 💬">Your Chats</h1>

                @foreach (var chat in Model.ChatList)
                {
                    <a href="/Dms/Dm?to=@UserApi.GetUserById(@chat.OUid).Uid" class="view-more-item">
                        <div class="pt-4 pb-4">
                            <div class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <div class="pfp-post" style="background: url('/userdata/@UserApi.GetUserById(@chat.OUid).AvatarImg') center no-repeat; background-size: cover"></div>
                                    </div>
                                    <div class="level-item">
                                        <div>
                                            <p class="title is-5" style="overflow-wrap: break-word; hyphens: auto;">
                                                @UserApi.GetUserById(@chat.OUid).Name
                                                <span class="is-size-6 has-text-grey has-text-weight-light">&#64;@UserApi.GetUserById(@chat.OUid).Uid2</span>
                                            </p>
                                            <p class="has-text-grey">@chat.Content</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <span class="is-size-6 has-text-grey has-text-weight-light is-pulled-right">@chat.Timestamp</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                }

            </div>
            <div class="column"></div>
        </div>

</section>

<script defer>
    setTimeout(function () {
        if (window.location.hash === '#walkthrough') {
            introJs().start()
        }
    }, 10);
</script>

<style>

    .iconDiv {
        position: absolute;
        z-index: 2;
        padding: 10px;
        padding-left: 30px;
    }

        .iconDiv:hover {
            transform: scale(1.5);
            filter: brightness(85%);
        }

    .iconTitle {
        font-weight: bold;
        color: #FF6E17;
    }
</style>