@page
@using KampongTalk.Models
@model KampongTalk.Pages.Community.Index

@{
    if (Model.ViewingCommunity != null)
    {
        ViewData["Title"] = Model.ViewingCommunity.Name;
        ViewData["SearchField"] = "#" + Model.ViewingCommunity.Cid;
    }
    else
    {
        ViewData["Title"] = "404: Community not found";
    }

    // ViewData["currentUid"] = Model.CurrentUser.Uid;
}

<section id="profileHeader" class="hero has-background-primary-dark is-dark">
    <div class="hero-body">
        <div class="container">
            <div id="iconImage" class="community-icon"></div>
        </div>
    </div>
</section>


@{
    if (!Model.ShowCommunityNotFoundError)
    {
        <section class="section">
            <div class="container">
                <div class="columns" style="margin-top: 4rem;">
                    <div class="column is-one-quarter">
                        <div>
                            <h1 class="title is-1 mt-6 has-text-black">@Model.ViewingCommunity.Name</h1>
                            <p class="subtitle has-text-page-color-light" class="overflow-wrap: break-word; hyphens: auto;">#@Model.ViewingCommunity.Cid</p>
                            <br />
                            <div class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">Posts</p>
                                        <p class="title">@Model.PostCount</p>
                                    </div>
                                </div>
                                @{
                                    if (Model.IsCurrentUserOwner)
                                    {
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <a class="button is-black is-outlined" onclick="$('#editCommunityModal').fadeIn('fast')">Edit community</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <hr />
                        @{
                            if (Model.ViewingCommunity.Description != null)
                            {
                                <div>
                                    <h3 class="title is-5 has-text-page-color">About this community</h3>
                                    <p style="hyphens: auto; overflow-wrap: break-word">@Model.ViewingCommunity.Description</p>
                                </div>
                                <hr />
                            }
                        }
                        <div>
                            <div class="level">
                                <div class="level-item-left has-text-centered">
                                    <div>
                                        <h3 class="title is-5 has-text-page-color">Owner</h3>
                                    </div>
                                </div>
                                <div class="level-item-right has-text-centered">
                                    <div>
                                        <a href="/Profile?u=@UserApi.GetUserById(Model.ViewingCommunity.CreatorId).Uid2" class="is-size-6">
                                            @UserApi.GetUserById(Model.ViewingCommunity.CreatorId).Name <small>(&#64;@UserApi.GetUserById(Model.ViewingCommunity.CreatorId).Uid2)</small>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-item-left has-text-centered">
                                    <div>
                                        <h3 class="title is-5 has-text-page-color">Created</h3>
                                    </div>
                                </div>
                                <div class="level-item-right has-text-centered">
                                    <div>
                                        <p class="is-size-6">@Model.CreateDate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-three-quarters">
                        <h2 class="title is-5">Posts in this community</h2>
                        @{
                            foreach (var post in Model.PostsToDisplay.Reverse())
                            {
                                if (post.Author == 0)
                                {
                                    <div class="card mt-4" style="border-left: solid 4px;">
                                        <div class="card-content">
                                            <p style="overflow-wrap: break-word; hyphens: auto;"><i class="fas fa-edit"></i>&ensp;@post.Content</p>
                                        </div>
                                        <div class="card-content has-background-light pt-2 pb-2">
                                            <p>@post.Timestamp.ToString("dd/MM/yyyy hh:mm tt")</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <partial name="Partials/_Post" model="post" view-data="ViewData" />
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </section>

        <div id="editCommunityModal" class="modal is-active" style="display: none">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem">
                    <div class="card-content">
                        <div class="has-background-dark card-hero-community">
                            <button onclick="$('#editCommunityModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
                        </div>
                        <div class="community-icon-small">
                            <div class="is-vcentered has-text-centered has-text-white pfp-edit is-size-2" onclick="$('#iconUploadField').trigger('click')">
                                <i class="fa-solid fa-pen"></i>
                            </div>
                        </div>

                        <form id="communityEditForm" method="post" enctype="multipart/form-data" style="margin-top: 6rem">
                            <input accept="image/png, image/jpg" type="file" asp-for="IconImage" id="iconUploadField" style="opacity: 0; height: 0; width: 0"/>
                            <div class="field">
                                <label class="label">Community Name</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" value="@Model.ViewingCommunity.Name" disabled>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;Community names cannot be changed.</small>
                            </div>

                            <div class="field">
                                <label class="label">About this community</label>
                                <div class="control">
                                    <input class="input" type="text" asp-for="EditDescription" minlength="20" maxlength="254" value="@Model.ViewingCommunity.Description">
                                </div>
                            </div>

                            <span class="buttons">
                                <button class="mt-5 button is-primary" type="submit"><i class="fas fa-save"></i>&ensp;Save changes</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="~/js/Board.js"></script>
    }
    else
    {
        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title">
                    <i class="fas fa-question-circle"></i>
                </p>
                <h1 class="subtitle is-4 has-text-weight-bold has-text-page-color">This isn't a void deck, it's just a void.</h1>
                <p>This community does not exist. Please ensure that you did not type the name of the community wrongly.</p>
            </div>
        </section>
    }
}

<script>
    $("#iconUploadField").on('change', () => {
        $("#communityEditForm").submit()
    })
</script>

@{
    if (Model.ViewingCommunity != null)
    {
        <style>
            #iconImage, .community-icon-small {
                background: url('/userdata/communities/@Model.ViewingCommunity.IconImg') center no-repeat; background-size: cover
            }
            
            #profileHeader, .card-hero-community {
                background-color: rgb(var(--page-theme-color)) !important;
            }
            
            .has-text-page-color {
                color: rgb(var(--page-theme-color));
            }
            
            .has-text-page-color-light {
                color: rgb(var(--page-theme-color-light));
            }
            
        </style>

        <script>
            Vibrant.from('/userdata/communities/@Model.ViewingCommunity.IconImg').getPalette((err, palette) => {
                $('nav.navbar').css({ 'background-color': `rgb(${palette.DarkMuted._rgb})` })
                $(':root').css({ '--page-theme-color': `${palette.DarkMuted._rgb}`, '--page-theme-color-light': `${palette.Muted._rgb}` })
            });
        </script>
    }
}