@page
@using KampongTalk.Models
@model KampongTalk.Pages.Community.Index

@{
    if (Model.ViewingCommunity != null)
    {
        ViewData["Title"] = Model.ViewingCommunity.Name;
    }
    else
    {
        ViewData["Title"] = "404: Community not found";
    }
}

<style>
    .pfp {
        height: 10rem;
        width: 10rem;
        background: grey; 
        border: .7rem solid white;
        border-radius: 3rem;
        position: absolute;
    }
    
    .pfp-small {
            height: 8rem;
            width: 8rem;
            background: grey; 
            border: .5rem solid white;
            border-radius: 2rem;
            margin-top: -5rem;
    }
    
    .pfp-post {
            height: 3rem;
            width: 3rem;
            border: .2rem solid white;
            border-radius: 9999rem;
            margin-top: -.5rem;
            margin-bottom: -.75rem;
        }
    
    .card-hero {
        background: grey;
        width: 640px;
        height: 8em;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        margin: -1.5rem -1.5rem 1.5rem;
    }
    
    .card-top {
        padding: 1.5rem 1.5rem 0;
        background: linear-gradient(180deg, rgba(72,136,149,0.4) 15%, rgba(255,255,255,0.4) 100%);
    }
   
</style>

<section class="hero has-background-grey is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="pfp"></div>
        </div>
    </div>
</section>


@{
    if (!Model.ShowCommunityNotFoundError)
    {
        <section class="section">
            <div class="container">
                <div class="columns" style="margin-top: 4rem;">
                    <div class="column is-one-quarter">
                        <div>
                            <h1 class="title is-1">@Model.ViewingCommunity.Name</h1>
                            <br/>
                            <div class="level">
                                <div class="level-item has-text-centered">
                                    <div>
                                        <p class="heading">Posts</p>
                                        <p class="title">@Model.PostCount</p>
                                    </div>
                                </div>
                                @{
                                    if (Model.IsCurrentUserOwner)
                                    {
                                        <div class="level-item has-text-centered">
                                            <div>
                                                <a class="button is-black is-outlined" onclick="$('#editCommunityModal').fadeIn('fast')">Edit community</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <hr/>
                        @{
                            if (Model.ViewingCommunity.Description != null)
                            {
                                <div>
                                    <h3 class="title is-5">About this community</h3>
                                    <p style="hyphens: auto; overflow-wrap: break-word">@Model.ViewingCommunity.Description</p>
                                </div>
                                <hr/>
                            }
                        }
                        <div>
                            <div class="level">
                                <div class="level-item-left has-text-centered">
                                    <div>
                                        <h3 class="title is-5">Owner</h3>
                                    </div>
                                </div>
                                <div class="level-item-right has-text-centered">
                                    <div>
                                        <a href="/Profile?u=@UserApi.GetUserById(Model.ViewingCommunity.CreatorId).Uid2" class="is-size-6">@UserApi.GetUserById(Model.ViewingCommunity.CreatorId).Name <small>(&#64;@UserApi.GetUserById(Model.ViewingCommunity.CreatorId).Uid2)</small></a>
                                    </div>
                                </div>
                            </div>
                            <div class="level">
                                <div class="level-item-left has-text-centered">
                                    <div>
                                        <h3 class="title is-5">Created</h3>
                                    </div>
                                </div>
                                <div class="level-item-right has-text-centered">
                                    <div>
                                        <p class="is-size-6">@Model.CreateDate</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column">
                        <h2 class="title is-5">Posts in this community</h2>
                        @{foreach (var post in Model.PostsToDisplay.Reverse())
                            {
                                if (post.Author == 0)
                                {
                                    <div class="card mt-4" style="border-left: solid 4px;">
                                        <div class="card-content">
                                            <p><i class="fas fa-edit"></i>&ensp;@post.Content</p>
                                        </div>
                                        <div class="card-content has-background-light pt-2 pb-2">
                                            <p>@post.Timestamp.ToString("ddd, dd MMMM yyyy")</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card mt-4">
                                        <div class="card-content card-top">
                                            <a href="/Profile?u=@UserApi.GetUserById(post.Author).Uid2">
                                                <div class="level">
                                                    <div class="level-left">
                                                        <div class="level-item">
                                                            <div class="pfp-post"></div>
                                                        </div>
                                                        <div class="level-item">
                                                            <div>
                                                                <p class="title is-5">
                                                                    @UserApi.GetUserById(post.Author).Name
                                                                    <span class="is-size-6 has-text-grey" style="margin-top: -1.5rem">&#64;@UserApi.GetUserById(post.Author).Uid2</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-content">
                                            <p class="is-size-5">@post.Content</p>
                                        </div>
                                        <div class="card-content has-background-light pt-3 pb-3">
                                            <div class="level is-mobile">
                                                <div class="level-left">
                                                    <a class="level-item">
                                                        <div class="tags has-addons">
                                                            <span class="tag is-primary"><i class="fas fa-thumbs-up"></i>&ensp; Like</span>
                                                            <span class="tag is-dark">100</span>
                                                        </div>
                                                    </a>
                                                    <a class="level-item">
                                                        <div class="tags has-addons">
                                                            <span class="tag is-info"><i class="fas fa-comments"></i>&ensp; Reply</span>
                                                            <span class="tag is-dark">69</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        </section>
        
        <div id="editCommunityModal" class="modal is-active" style="display: none">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="card" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem">
                    <div class="card-content">
                        <div class="has-background-dark card-hero">
                            <button onclick="$('#editCommunityModal').fadeOut('fast')" class="modal-close is-large" aria-label="close"></button>
                        </div>
                        <div class="pfp-small"></div>
                        
                        <form method="post">
                            <div class="field">
                                <label class="label">Community Name</label>
                                <div class="control has-icons-left">
                                    <input class="input" type="text" value="@Model.ViewingCommunity.Name" disabled>
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;Community names cannot be changed.</small>
                            </div>

                            <div class="field">
                                <label class="label">About this community</label>
                                <div class="control">
                                    <textarea class="textarea" rows="5" asp-for="EditDescription" minlength="20" maxlength="254"></textarea>
                                </div>
                            </div>
                            
                            <span class="buttons">
                                <button class="mt-5 button is-primary" type="submit"><i class="fas fa-save"></i>&ensp;Save changes</button>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <section class="section is-medium">
            <div class="container has-text-centered">
                <p class="title">
                    <i class="fas fa-question-circle"></i>
                </p>
                <h1 class="subtitle is-4 has-text-weight-bold">This isn't a void deck, it's just a void.</h1>
                <p>This community does not exist. Please ensure that you did not type the name of the community wrongly.</p>
            </div>
        </section>
    }
}