@page
@model KampongTalk.Pages.Community.New

@{
    ViewData["Title"] = @Model.LangData.community.create.create;
}

<style>    
    .card-new-community {
        width: 640px;
        margin: 0 auto;
        }
</style>

<section class="section">
    <div class="container">
        <div class="has-text-centered">
            <h1 class="title">@Model.LangData.community.create.title</h1>
            <p class="subtitle">@Model.LangData.community.create.subtitle</p>
        </div>

        @{
            if (Model.ShowAlreadyHaveCommunityError)
            {
                <div class="notification is-danger is-light mt-5 mb-5">
                    <p class="has-text-weight-bold">@Model.LangData.community.create.alreadyExist.title</p>
                    <p>@Model.LangData.community.create.alreadyExist.subtitle</p>
                </div>
            }
            else
            {
                <form method="post" enctype="multipart/form-data">
                    <div class="card card-new-community mt-6" style="border-top-right-radius: 0.5rem; border-top-left-radius: 0.5rem">
                        <div class="card-content">
                            <div class="card-hero-community"></div>
                            <div id="community-icon" class="community-icon-small">
                                <div class="is-vcentered has-text-centered has-text-white pfp-edit is-size-2" onclick="$('#iconUploadField').trigger('click')">
                                    <i class="fa-solid fa-pen"></i>
                                </div>
                            </div>
                            <input accept="image/png, image/jpg" type="file" asp-for="IconImage" id="iconUploadField" style="opacity: 0; height: 0; width: 0" />
                            <script>
                            var bannerUploadField = document.getElementById("iconUploadField")
                                bannerUploadField.onchange = function () {
                                    const [file] = bannerUploadField.files
                                    if (file) {
                                        $("#community-icon").css("background-image", "url(" + URL.createObjectURL(file) + ")");
                                        $("#community-icon").css("background-repeat", "no-repeat");
                                        $("#community-icon").css("background-position", "center");
                                        $("#community-icon").css("background-size", "cover");
                                        
                                        Vibrant.from(URL.createObjectURL(file)).getPalette((err, palette) => {
                                            $('.card-hero-community').css({ 'background-color': `rgb(${palette.DarkMuted._rgb})` })
                                        });
                                    }
                                }
                                
                            </script>
                            <div class="field" style="margin-top: 4rem">
                                <label class="label">@Model.LangData.community.edit.name</label>
                                <div class="control has-icons-left">
                                    <input class="input @Model.CommunityNameClass" type="text" placeholder="The Flower Garden" asp-for="NewCommunity.Name">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-users"></i>
                                    </span>
                                </div>
                                @{
                                    if (Model.ShowDuplicateError)
                                    {
                                        <small class="has-text-danger"><i class="fas fa-exclamation-triangle"></i>&nbsp;@Model.LangData.community.create.alreadyExistSameName</small>
                                    }
                                }
                                <small class="has-text-grey"><i class="fas fa-info-circle"></i>&nbsp;@Model.LangData.community.create.chooseCarefully.</small>
                            </div>

                            <div class="field">
                                <label class="label">@Model.LangData.community.edit.about</label>
                                <div class="control">
                                    <textarea class="textarea" rows="5" placeholder="A community where flower lovers can interact. Share pictures of your garden or flowers!" asp-for="NewCommunity.Description" required minlength="20" maxlength="254"></textarea>
                                </div>
                                <small class="has-text-grey">@Model.LangData.community.create.beDescriptive</small>
                            </div>
                        </div>
                    </div>
                    <div style="width: 640px; margin: 0 auto;">
                        <hr/>
                        <div class="field content">
                            <label class="label">@Model.LangData.takeNote</label>
                            <div class="control">
                                <ul>
                                    <li>@Model.LangData.community.create.takeNote.a</li>
                                    <li>@Model.LangData.community.create.takeNote.b</li>
                                    <li>@Model.LangData.community.create.takeNote.c</li>
                                    <li>@Model.LangData.community.create.takeNote.d</li>
                                    <li>@Model.LangData.community.create.takeNote.e</li>
                                </ul>
                            </div>
                        </div>

                        <span class="buttons">
                            <button class="mt-5 button is-primary" type="submit"><i class="fas fa-arrow-right"></i>&ensp;@Model.LangData.community.create.create</button>
                        </span>
                    </div>
                </form>
            }
        }
        <hr/>
        <p class="has-text-centered">
            <b>@Model.LangData.community.create.changedYourMind</b><br/><a href="/">@Model.LangData.community.create.returnHome</a>
        </p>
    </div>
</section>